<!DOCTYPE html>
<html lang="en">


<!-- blank-page24:04-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title><%=appName%>| <%=pageTitle%></title>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body class="mini-sidebar">
    <div class="main-wrapper">
        <!-- HEADER -->
        <%- include("../parts/header") -%>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-5 col-4">
                        <h4 class="page-title"></h4>
                    </div>
                    <% if(UserData.user_sub_menu_access.includes("Imprimer Résultat") || UserData.user_sub_menu_access[0]=="All"){ %>
                    <div class="col-sm-7 col-8 text-right m-b-30">
                        <form id="displayResult" target="_blank" action="/display-test-result" method="POST">
                            <input type="hidden" name="id_test_request" value="<%=testRequestId%>">
                            <input type="hidden" name="patient" value="<%=patient%>">
                            <div class="btn-group btn-group-sm">
                                <button class="btn btn-white"><i class="fa fa-print fa-lg"></i> Imprimer</button>
                            </div>
                        </form>
                    </div>
                    <%}%>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-box">
                            <h4 class="payslip-title">Résultat Test Laboratoire</h4>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4 class="text-uppercase"><%=patient%></h4>
                                </div>
                            </div>

                            <div class="row">
                                <% data.forEach((info) => { %>
                                <div class="col-sm-6">
                                    <div>
                                        <h4 class="m-b-10"><strong><%=info.TestName%></strong></h4>
                                        <table class="table table-bordered">
                                            <tbody>
                                                <% 
                                                let pos = 0;
                                                info.Parameters.forEach((testParameters) => { 
                                                %>
                                                    <tr>
                                                        <td>
                                                            <strong><%=testParameters.nom_examen%></strong> 
                                                            <span class="float-right"><%=info.Resultats[pos].resultat%></span>
                                                        </td>
                                                    </tr>
                                                <% pos++; }) %>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <% }) %>
                                <!-- <div class="col-sm-12">
                                    <p><strong>Net Salary: $59698</strong> (Fifty nine thousand six hundred and ninety
                                        eight only.)</p>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <% if(UserData.user_sub_menu_access.includes("Valider Résultat") || UserData.user_sub_menu_access[0]=="All"){ %>
                <div class="row">
                    <div class="col-sm-5 col-4">
                        <h4 class="page-title"></h4>
                    </div>
                    <div class="col-sm-7 col-8 text-right m-b-30">
                       <a class="btn btn-white" id="btnValider"  data-toggle="modal" data-target="#valideTest"><i class="fa fa-check-square fa-lg"></i> Valider</a>
                     </div>
                </div>
                <% } %>
            </div>
        </div>
        <div id="valideTest" class="modal fade delete-modal" role="dialog" data-keyboard="false">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body text-center">
						<img src="assets/img/sent.png" alt="" width="50" height="46">
						<form id="deleteForm">
                            <input type="hidden" name="testRequestId" value="<%=testRequestId%>">
                            <input type="hidden" name="statut" value="2">
						</form>
						<h3>Voulez-vous enregistrer la vérification?</h3>
						<div id="msg"></div>
						<div class="m-t-20"> <a href="#" class="btn btn-danger" data-dismiss="modal">Non</a>
							<button type="submit" class="btn btn-success" onclick="ValiderTest()">Oui</button>
						</div>
					</div>
				</div>
			</div>
			
		</div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/app.js"></script>
    <script>
        	ValiderTest = function(){
                $("#msg").show().html();
                let   formData = $("#deleteForm").serialize();
                    $.post("/update-test-status" ,formData, function(data){
                        console.log(data);
                        if(data.success){ //Success 
                            $("#btnValider").prop("disabled", true);
                            $("#btnValider").css("background-color", "lightgreen");
                            $('#valideTest').modal('hide')
                        }else{
                            $("#msg").html(data.error);
                        } 
                    });
        }
    </script>
    <!-- FOOTER -->
    <%- include("../parts/footer") -%>
</body>


<!-- blank-page24:04-->

</html>