<!DOCTYPE html>
<html lang="en">


<!-- patients23:17-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title><%=appName%>| <%=pageTitle%></title>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <!-- HEADER -->
        <%- include("../parts/header") -%>
        <!-- SIDEBAR -->
        <%- include("../parts/sidebar") -%>
    </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title"> <%=pageTitle%> </h4>
                    </div>
                    <div class="col-sm-8 col-9 text-right m-b-20">
                        <a href="/add-examens" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Ajouter Examen</a>
                    </div>
                </div>
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-border table-striped custom-table datatable mb-0">
								<thead>
									<tr>
										<th>Examen</th>
										<th>Type résultat</th>
										<th class="text-right">Action</th>
									</tr>
								</thead>
								<tbody>
									<% data.forEach((examen) => { %>
									<tr id="row<%= examen.id %>">
										<td><img width="28" height="28" src="assets/img/user.jpg" class="rounded-circle m-r-5" alt="">
											<%= examen.nom_examen %>
											<% if(examen.is_bilan){ %>
												<a href="/add-test-parameters?exam=<%= examen.id %>"><i class="fa fa-flask"></i></a> 
											<% } %>
										</td>
										<td><%= examen.type_resultat %></td>
										<td class="text-right">
											<div class="dropdown dropdown-action">
												<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="/edit-patient?patient=<%= examen.id %>"><i class="fa fa-pencil m-r-5"></i> Edit</a>
													<a class="dropdown-item" href="#" onclick="setId('<%= examen.id %>')" ><i class="fa fa-trash-o m-r-5"></i> Delete</a>
												</div>
											</div>
										</td>
									</tr>
									<% }) %>
								</tbody>
							</table>
						</div>
					</div>
                </div>
            </div>

		</div>
		
		<div id="delete_patient" class="modal fade delete-modal" role="dialog" data-keyboard="false">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body text-center">
						<img src="assets/img/sent.png" alt="" width="50" height="46">
						<form id="deleteForm">
							<input type="hidden" name="patientID" id="patientID">
						</form>
						<h3>Are you sure want to delete this Patient?</h3>
						<div id="msg"></div>
						<div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
							<button type="submit" class="btn btn-danger" onclick="deletePatient()">Delete</button>
						</div>
					</div>
				</div>
			</div>
			
		</div>


    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="assets/js/jquery.dataTables.min.js"></script>
    <script src="assets/js/dataTables.bootstrap4.min.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/bootstrap-datetimepicker.min.js"></script>
	<script src="assets/js/app.js"></script>
	<script>
		function setId(value){
			$("#patientID").val(value);
			$("#delete_patient").modal();
		}
		deletePatient = function(){
             $("#msg").show().html();
			 let patientID = $("#patientID").val();
              let   formData = $("#deleteForm").serialize();
                $.post("/delete-patient" ,formData, function(data){
                      $("#loader").hide();
                      console.log(data);
                      if(data.success){ //Success 
						$("#msg").html(data.success).fadeOut( 5000 );
						//remove line
						$("#row"+patientID).fadeOut( 5000 );
                      }else{
                        $("#msg").html(data.error);
                      } 
                });
        }
	</script>
</body>


<!-- patients23:19-->
</html>