<!DOCTYPE html>
<html lang="en">


<!-- schedule23:20-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title><%=appName%>| <%=pageTitle%></title>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <!-- HEADER -->
        <%- include("../parts/header") -%>
        <!-- SIDEBAR -->
        <%- include("../parts/sidebar") -%>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-6 col-6">
                        <h3 class="page-title"><%=pageTitle%></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Valeurs Normales</h4>
                        <div class="table-responsive">
                            <table class="table table-border table-striped custom-table mb-0">
                                <thead>
                                    <tr>
                                        <th>Valeurs Normales</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% valeurNormal.forEach((valeur) => { %>
                                    <tr id="VN<%= valeur.exam_id %>">
                                        <td><%= valeur.vn %></td>
                                        <td class="text-right">
                                            <a href="#" style="color: red;"
                                                title="Enlever <%= exam.nom_examen %> de la liste "
                                                onclick="launchDeleteParam('<%= valeur.exam_id %>','<%= valeur.vn %>','VN')">
                                                <i class="fa fa-trash-o m-r-5"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <h4 class="m-t-10">Materiaux associés</h4>
                        <div class="table-responsive">
                            <table class="table table-border table-striped custom-table mb-0">
                                <thead>
                                    <tr>
                                        <th>Matériau</th>
                                        <th>Quantité</th>
                                        <th class="text-right">
                                            <a href="#" onclick="launchAddMateriau()" title="Ajouter matériaux"><i
                                                    class="fa fa-plus m-r-5"></i></a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% materiauxAssosc.forEach((mat) => { %>
                                    <tr id="M<%= mat.materiau %>">
                                        <td><%= mat.nom_materiau %></td>
                                        <td><%= mat.qte %></td>
                                        <td class="text-right">
                                            <a href="#" style="color: red;"
                                                title="Enlever <%= mat.nom_materiau %> de la liste "
                                                onclick="launchDeleteParam('<%= mat.materiau %>','<%= mat.nom_materiau %>','M')">
                                                <i class="fa fa-trash-o m-r-5"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4>Paramètres</h4>
                        <div class="table-responsive">
                            <table class="table table-border table-striped custom-table mb-0">
                                <thead>
                                    <tr>
                                        <th>Position</th>
                                        <th>Examen</th>
                                        <th class="text-right">
                                            <a href="#" onclick="launchAddParam()" title="Ajouter paramètres"><i
                                                    class="fa fa-plus m-r-5"></i></a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <form id="reorderAllForm">
                                        <input type="hidden" name="examID" value="<%=examID%>">
                                        <% paramInfo.forEach((exam) => { %>
                                        <tr id="P<%= exam.id %>">
                                            <td>
                                                <input type="hidden" name="parameters[]" value="<%=exam.id%>">
                                                <input type="number" style="width: 50px;" name="position[]"
                                                    value="<%= exam.position %>" onfocus="select()">
                                            </td>
                                            <td><%= exam.nom_examen %></td>
                                            <td class="text-right">
                                                <a href="#" style="color: red;"
                                                    title="Enlever <%= exam.nom_examen %> de la liste "
                                                    onclick="launchDeleteParam('<%= exam.id %>','<%= exam.nom_examen %>','P')">
                                                    <i class="fa fa-trash-o m-r-5"></i>
                                                </a>
                                                <a href="#" style="color: red;"
                                                    title="Changer la position de <%= exam.nom_examen %> dans la liste "
                                                    onclick="launchChangePostionParam('<%= exam.id %>','<%= exam.nom_examen %>','<%= exam.position %>')">
                                                    <i class="fa fa-pencil m-r-5"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <% }) %>
                                    </form>
                                </tbody>
                                <% if(paramInfo.length >0) { %>
                                <tr>
                                    <td colspan="3">
                                        <button onclick="reorderAllParams()" class="btn btn-primary">Réordonner</button>
                                    </td>
                                </tr>
                                <% } %>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="DeleteItem" class="modal fade delete-modal" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <img src="assets/img/sent.png" alt="" width="50" height="46">
                        <h3>Voulez-vous supprimer <i id="itemToDelete"></i> ?</h3>
                        <form id="removeItemForm">
                            <input type="hidden" name="examID" value="<%=examID%>">
                            <input type="hidden" name="itemName" id="itemName">
                            <input type="hidden" name="itemID" id="itemID">
                            <input type="hidden" name="action" id="actionID">
                        </form>
                        <div id="msgRemoveItem" class="m-t-20 text-center"></div>
                        <div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">NON</a>
                            <button type="submit" onclick="removeItem()" class="btn btn-danger">OUI</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="ChangeItem" class="modal fade delete-modal" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <img src="assets/img/sent.png" alt="" width="50" height="46">
                        <h3>Voulez-vous repositionner <i id="itemToChange"></i> ?</h3>
                        <center>
                            <form id="reorderItemForm">
                                <input type="hidden" name="examID" value="<%=examID%>" id="examIDReorder">
                                <input type="hidden" name="itemName" id="itemNameC">
                                <input type="hidden" name="itemID" id="itemIDC">
                                <input type="number" style="width: 70px;margin-top: 10px;" class="form-control"
                                    name="position" id="position">
                            </form>
                        </center>

                        <div id="msgReorderItem" class="m-t-20 text-center"></div>
                        <div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">NON</a>
                            <button type="submit" onclick="ChangeItemPosition()" class="btn btn-danger">OUI</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="addParameters" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content modal-md">
                    <div class="modal-header">
                        <h4 class="modal-title">Ajouter Paramètres <strong id="paramName"></strong> </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form id="addParametersForm">
                            <div class="form-group">
                                <label>Sélectionnez les paramètres</label>
                                <select class="select" multiple name="testParameters[]">
                                    <% data.forEach((examen) => { %>
                                    <option value="<%= examen.id %>"><%= examen.nom_examen %></option>
                                    <% }) %>
                                </select>
                                <input type="hidden" name="examID" value="<%=examID%>">
                                <input type="hidden" name="exam" value="<%=exam%>">
                            </div>
                            <div id="msgSaveParam" class="m-t-20 text-center"></div>
                        </form>
                        <div class="m-t-20 text-center">
                            <button class="btn btn-primary submit-btn"
                                onclick="saveTestParameters()">Enregistrer</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div id="addMateriau" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content modal">
                    <div class="modal-header">
                        <h4 class="modal-title">Ajouter Matériaux</strong> </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form id="addMateriauForm">
                            <input type="hidden" name="examID" value="<%=examID%>">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-inline">
                                        <label>Sélectionnez les matériaux</label>
                                        <select onchange="addMateriau()" class="select" multiple name="materiau[]"
                                            id="MateriauSelected">
                                            <% materiaux.forEach((mat) => { %>
                                            <option value="<%= mat.id %>"><%= mat.nom_materiau %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 m-t-10">
                                    <label>Quantité</label>
                                    <div class="form-inline" id="QteFiedls">
                                    </div>
                                </div>
                            </div>
                            <div id="msgSaveMat" class="m-t-20 text-center"></div>
                        </form>
                        <div class="m-t-20 text-center">
                            <button class="btn btn-primary submit-btn" onclick="saveTestMateriau()">Enregistrer</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>



    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script>
        //ADD PARAMETER
        function launchAddParam(id_exam, pname) {
            $("#msgSaveParam").show().html("");
            $("#paramName").val(pname);
            $("#addParameters").modal();
        }
        saveTestParameters = function () {
            let formData = $("#addParametersForm").serialize();
            $.post("/add-test-parameters", formData, function (data) {
                console.log(data);
                if (data.success) { //Success 
                    $("#msgSaveParam").html(data.msg);//.fadeOut( 5000 );
                } else {
                    $("#msgSaveParam").html(data.msg);
                }
            });
        }
        //ADD MATERIAU
        function launchAddMateriau(id_exam, pname) {
            $("#msgSaveMat").show().html("");
            $("#matName").val(pname);
            $("#addMateriau").modal();
        }
        //ADD TO CART
        function addMateriau() {
            let materiaux = $("#MateriauSelected").val();
            let texte = $("#MateriauSelected option:selected");
            let fields = "";
            let pos = 0;
            materiaux.forEach(element => {
                //alert(texte.text());
                fields += "<input style='width:100px;margin:5px;' class='form-control' type='number' name='qte[]' value='1'>";
                pos++;
            });
            $("#QteFiedls").html(fields);
        }
        saveTestMateriau = function () {
            $("#msgSaveMat").show().html("");
            let formData = $("#addMateriauForm").serialize();
            $.post("/link-test-materiau", formData, function (data) {
                if (data.success) { //Success 
                    $("#msgSaveMat").html(data.msg);//.fadeOut( 5000 );
                } else {
                    $("#msgSaveMat").html(data.msg);
                }
            });
        }
        //REMOVE ITEM
        function launchDeleteParam(id_exam, pname, action) {
            $("#itemToDelete").html(pname);
            $("#itemName").val(pname);
            $("#itemID").val(id_exam);
            $("#actionID").val(action);
            $("#DeleteItem").modal();
        }
        removeItem = function () {
            $("#msgRemoveItem").show().html("");
            let formData = $("#removeItemForm").serialize();
            $.post("/remove-item", formData, function (data) {
                if (data.success) { //Success 
                    $("#msgRemoveItem").html(data.msg).fadeOut(2000, function () { $("#DeleteItem").modal("hide"); });
                    let item = $("#actionID").val() + $("#itemID").val();
                    $("#" + item).fadeOut(5000);
                } else {
                    $("#msgRemoveItem").html(data.msg);
                }
            });
        }
        
        //CHANGE POSITION
        function launchChangePostionParam(id_exam, pname, position) {
            $("#itemToChange").html(pname);
            $("#itemNameC").val(pname);
            $("#itemIDC").val(id_exam);
            $("#position").val(position);
            $("#ChangeItem").modal();
        }
        ChangeItemPosition = function () {
            $("#msgReorderItem").show().html("");
            let formData = $("#reorderItemForm").serialize();
            $.post("/reorder-exam", formData, function (data) {
                if (data.success) { //Success 
                    let exam_id = $("#examIDReorder").val();
                    $("#msgReorderItem").html(data.msg).fadeOut(2000, function () {
                        //$("#DeleteItem").modal("hide"); 
                        window.location.replace("/exam-details?examId=" + exam_id);
                    });
                } else {
                    $("#msgReorderItem").html(data.msg);
                }
            });
        }

        reorderAllParams = function () {
            let formData = $("#reorderAllForm").serialize();
            $.post("/reorder-all-exam", formData, function (data) {
                if (data.success) { //Success 
                    let exam_id = $("#examIDReorder").val();
                    window.location.replace("/exam-details?examId=" + exam_id);
                } else {
                    $("#msgReorderItem").html(data.msg);
                }
            });
        }

    </script>

</body>


<!-- schedule23:21-->

</html>