<!DOCTYPE html>
<html lang="en">
<!-- appointments23:19-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title><%=appName%>| <%=pageTitle%></title>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <!-- HEADER -->
        <%- include("../parts/header") -%>
        <!-- SIDEBAR -->
        <%- include("../parts/sidebar") -%>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-12 col-12">
                        <h4><%=pageTitle%> </h4>
                        <h4 class="page-title">
                            <i class="fa fa-folder-open-o"></i> <%=patientSelected.num_patient%> |
                            <%=patientSelected.fullname%> 
                            <a href="#"  rel="noopener noreferrer">
                                <i style="cursor: pointer;" title="Apperçue du résultat" class="fa fa-file-pdf-o" onclick=" displayResult()"></i> 
                            </a>
                        </h4>
                            <form id="displayResult" target="_blank" action="/display-test-result" method="POST">
                                <input type="hidden" name="id_test_request" value="<%=id_test_request%>">
                                <input type="hidden" name="patient" value="<%=patientSelected.dossier%>">
                                <input type="hidden" name="docteur" value="<%=patientSelected.docteur%>">
                            </form>
                            
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                            <form id="editDocteurForm" class="m-b-10">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input class="form-control" title="Docteur/Institution" placeholder="Docteur/Institution" onfocus="select()" type="text" name="Docteur" id="Docteur" value="<%=patientSelected.docteur%>">
                                        <input type="hidden" name="id_test_request" value="<%=id_test_request%>">
                                        <strong id="Enotify"></strong>
                                    </div>
                                    <a href="#" data-toggle="modal" data-target="#editDocteur" >
                                        <i style="cursor: pointer;" title="Modifier le docteur/Institution" class="fa fa-save fa-2x"></i> 
                                    </a>
                                </div>
                                
                            </form>
                        <div class="table-responsive">
                            <table class="table table-striped custom-table">
                                <thead>
                                    <tr>
                                        <th>ID Examen</th>
                                        <th>Examen</th>
                                        <th>Résultat</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% data.forEach((info) => { %>
                                    <tr>
                                        <td><%=info.id%></td>
                                        <td> <i class="fa fa-flask"></i> <%=info.nom_examen%></td>
                                        <td><a href="#" class="btn btn-white"
                                                onclick="launchSaveTestModal('<%=info.id%>','<%=info.nom_examen%>')">Enregistrer
                                                Résultat</a></td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div id="addRemoveUnit" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Résultat du test <strong id="materiauName"></strong> | <%=patientSelected.dossier%> </h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body text-center">
                            <form id="addRemoveStockForm">
                                <input type="hidden" id="testRequestId" name="testRequestId" value="<%=id_test_request%>">
                                <div class="form-inline" id="Resultat">

                                </div>
                                <div id="notify" class="m-t-20 text-center"></div>
                                <div class="m-t-20 text-center">
                                    <button class="btn btn-primary submit-btn">Enregistrer</button>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
            <div id="editDocteur" class="modal fade delete-modal" role="dialog" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <img src="assets/img/sent.png" alt="" width="50" height="46" class="m-b-10"><br>
                            Voulez-vous modifier  <strong id="DocteurInstitution"><%=patientSelected.docteur%></strong> ?
                            <div id="msg"></div>
                            <div class="m-t-20"> <a href="#" class="btn btn-danger" data-dismiss="modal">Non</a>
                                <button type="submit" class="btn btn-success" onclick="editDoctorInfo()">Oui</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>


        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script>
        //Display the test result
        function displayResult(){
            $("#displayResult").submit();
        }
        $("#addRemoveStockForm").submit(function (e) {
            e.preventDefault();
            saveTestResultDB();
        });
        function launchSaveTestModal(testId, testName) {
            $("#notify").show().html("");
            $("#materiauName").html(testName);
            $("#testId").val(testId);
            let fields = "";

            $.post("/get-test-parameters", { examID: testId }, function (data) {
                for (item of data) {
                    console.log(item.type_resultat); //item.id_param_exam
                    let hidden_field = "<input type = 'hidden' name='test[]' value='" + item.id + "' >"
                    let pos_neg = "<div class='col-sm-6 col-md-6 col-lg-6'><select class='form-control select' name='resultat[]' id='" + item.id + "'><option value=''>---</option> <option value='Positif'>Positif</option><option value='Négatif'>Négatif</option></select></div>";
                    let fieldsVN = "<div class='col-sm-6 col-md-6 col-lg-6 m-b-10'><input type='text' name=resultat[] id='" + item.id + "' placeholder='" + item.nom_examen + "' class='form-control'></div>";
                    let comment = "<div class='col-sm-6 col-md-6 col-lg-6 m-b-10'><textarea cols='30' rows='4' class='form-control' name='resultat[]' id='" + item.id + "' placeholder='" + item.nom_examen + "'></textarea></div>";
                    let appropriateField = "";
                    if (item.type_resultat == 1) { //Valeur Normale
                        appropriateField = fieldsVN;
                    } else if (item.type_resultat == 2) { // Positif Negatif
                        appropriateField = pos_neg;
                    } else { //Commentaire
                        appropriateField = comment;
                    }
                    fields += appropriateField+hidden_field;
                }
                $("#Resultat").html(fields);
            });
            $("#addRemoveUnit").modal();
        }

       saveTestResultDB = function () {
            $("#notify").show().html("");
            let formData = $("#addRemoveStockForm").serialize();
            $.post("/save-test-result", formData, function (data) {
                console.log(data);
                if (data.success) { //Success 
                    $("#notify").html(data.msg).fadeOut(5000);
                } else { // already saved get the result
                    $.post("/get-test-result", formData, function (data1) {
                        for(rs of data1){
                            console.log(rs);
                            $("#"+rs.examen_id).val(rs.resultat);
                        }
                        $("#notify").html(data.msg);
                        //show the modify button and hide the save button
                    });   
                }
            });
        }

        editDoctorInfo =function(){
            let formData = $("#editDocteurForm").serialize();
            $.post("/edit-doctor-info", formData, function (data) {
                console.log(data);
                if (data.success) { //Success 
                    $("#Enotify").html(data.msg).fadeOut(5000);
                    $("#editDocteur").modal("hide");
                } else { // already saved get the result
                    
                }
            });
        }
    </script>
</body>


<!-- appointments23:20-->

</html>