<!DOCTYPE html>
<html lang="en">


<!-- invoices23:24-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title><%=appName%>| <%=pageTitle%></title>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <!-- HEADER -->
        <%- include("../parts/header") -%>
        <!-- SIDEBAR -->
        <%- include("../parts/sidebar") -%>

        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-5 col-4">
                        <h4 class="page-title"> <i class="fa fa-folder-open fa-2x"></i> <%=pageTitle%> </h4>
                    </div>
                </div>
                <div class="row filter-row">
                    <form action="" method="POST" class="form-inline m-b-10">
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group form-focus">
                                <label class="focus-label">Du</label>
                                <div class="cal-icon">
                                    <input class="form-control floating datetimepicker" value="<%= dateFrom %>"
                                        type="text" name="dateFrom">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group form-focus">
                                <label class="focus-label">Au</label>
                                <div class="cal-icon">
                                    <input class="form-control floating datetimepicker" value="<%= dateTo %>"
                                        type="text" name="dateTo">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group form-focus select-focus">
                                <label class="focus-label">Statut</label>
                                <select class="select floating" name="statut">
                                    <option value="All">Tous</option>
                                    <% TEST_STATUS.forEach((item,index) => { %>
                                    <option <% if( statut == index ){ %> <%= "selected" %> <% } %> value="<%= index %>">
                                        <%= item %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <button class="btn btn-success btn-block"> Search </button>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table datatable mb-0">
                                <thead>
                                    <tr>
                                        <th>Test</th>
                                        <th>Statut</th>
                                        <th>Date</th>
                                        <th>Patient</th>
                                        <th>Examens</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% data.forEach((stock) => {
                                        let statut = parseInt(stock.statut);
                                        let type = "";
                                        if( statut == 0 ){
                                            type = "grey";
                                        }else if(statut == 1){
                                            type = "orange";
                                        }else{
                                            type = "green";
                                        }
                                        let patientSelected = stock.patient+" ["+stock.numero_patient+"]";
                                     %>
                                    <tr>
                                        <td><%=stock.request_id%></td>
                                        <td><span
                                                class="custom-badge status-<%= type %>"><%= TEST_STATUS[statut] %></span>
                                        <td><a href="#"><%=stock.date_record%></a></td>
                                        <td><%=stock.patient+" | "+stock.numero_patient%></td>
                                        <td><%=stock.examens%></td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                                    aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <form action="/SaveTestResult" method="POST"
                                                        id="displayTestRequest<%=stock.request_id%>">
                                                        <input type="hidden" name="patientName"
                                                            value="<%=stock.patient%>">
                                                        <input type="hidden" name="patientNumber"
                                                            value="<%=stock.numero_patient%>">
                                                        <input type="hidden" name="testRequestId"
                                                            value="<%=stock.request_id%>">

                                                        <a href="#" class="dropdown-item"
                                                            onclick="submitForm('<%=stock.request_id%>')"><i
                                                                class="fa fa-pencil m-r-5"></i>Enregistrer/Modifier Résultat</a>
                                                    </form>
                                                    <% if(statut == 1){ %>
                                                    <form target="_blank" action="/verify-test-result" method="POST" id="Verify<%=stock.request_id%>">
                                                        <input type="hidden" name="id_test_request"
                                                            value="<%=stock.request_id%>">
                                                        <input type="hidden" name="patient"
                                                            value="<%=patientSelected%>">
                                                        <a href="#" onclick="submitFormVerifiy('<%=stock.request_id%>')" class="dropdown-item" target="_blank" title="Vérifier les résutats"><i
                                                                class="fa fa-check"></i> Vérifier les résutats</a>
                                                    </form>
                                                    <% } %>

                                                    <% if(statut == 2){ %>
                                                        <a href="#" id="btnDelivery<%=stock.request_id%>" onclick="launchModal('<%=stock.request_id%>','<%=patientSelected%>')" class="dropdown-item" ><i
                                                                    class="fa fa-check"></i> Livrer les résutats</a>
                                                    <% } %>
                                                    <form id="PrintForm<%=stock.request_id%>" target="_blank" action="/display-test-result" method="POST">
                                                        <input type="hidden" name="id_test_request" value="<%=stock.request_id%>">
                                                        <input type="hidden" name="patient" value="<%=patientSelected%>">
                                                            <a href="#" class="dropdown-item"  onclick="printTest('<%=stock.request_id%>')"><i class="fa fa-print fa-lg"></i> Imprimer les résultats</a>
                                                    </form>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="TestDelivery" class="modal fade delete-modal" role="dialog" data-keyboard="false">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body text-center">
                        <img src="assets/img/sent.png" alt="" width="50" height="46">
                        <form id="DeliveryForm">
                            <input type="hidden" name="testRequestId" id="Test">
                            <input type="hidden" name="statut" value="3" id="Statut">
                        </form>
						Voulez-vous livrer les résultats de <strong id="patientS"></strong> ?
						<div id="msg"></div>
						<div class="m-t-20"> <a href="#" class="btn btn-danger" data-dismiss="modal">Non</a>
							<button type="submit" class="btn btn-success" onclick="livrerTest()">Oui</button>
						</div>
					</div>
				</div>
			</div>
			
		</div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.dataTables.min.js"></script>
    <script src="assets/js/dataTables.bootstrap4.min.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script>
        function submitForm(id) {
            $("#displayTestRequest" + id).submit();
        }
        function submitFormVerifiy(id) {
            $("#Verify" + id).submit();
        }
        function launchModal(test_id,patient){
            $("#patientS").html(""+patient);
            $("#Test").val(test_id);
            $("#TestDelivery").modal();
        }
        function printTest(test){
            $("#PrintForm"+test).submit();
        }
        livrerTest = function(){
                let   formData = $("#DeliveryForm").serialize();
                    $.post("/update-test-status" ,formData, function(data){
                        console.log(data);
                        if(data.success){ //Success 
                            let id = formData.testRequestId;
                            $("#btnDelivery"+id).hide();
                            $('#TestDelivery').modal('hide')
                        }else{
                            $("#msg").html(data.error);
                        } 
                    });
        }
    </script>
</body>


<!-- invoices23:25-->

</html>