<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title><%=appName%>| <%=pageTitle%></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <!-- HEADER -->
        <%- include("parts/header") -%>
        <!-- SIDEBAR -->
        <%- include("parts/sidebar") -%>

        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            <span class="dash-widget-bg1"><i class="fa fa-flask" aria-hidden="true"></i></span>
                            <div class="dash-widget-info text-right">
                                <h3><%=stats.all_test%></h3>
                                <span class="widget-title1">Tests <i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <a href="/Tests?date=All&status=0">
                            <div class="dash-widget">
                                <span class="dash-widget-bg3"><i class="fa fa-flask" aria-hidden="true"></i></span>
                                <div class="dash-widget-info text-right">
                                    <h3><%=stats.test_a_enregistrer%></h3>
                                    <span class="widget-title3">à enregistrer <i class="fa fa-check"
                                            aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <a href="/Tests?date=All&status=1">
                            <div class="dash-widget">
                                <span class="dash-widget-bg4"><i class="fa fa-flask" aria-hidden="true"></i></span>
                                <div class="dash-widget-info text-right">
                                    <h3><%=stats.nb_test_a_valider%></h3>
                                    <span class="widget-title4">Tests à valider <i class="fa fa-check"
                                            aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <a href="/Tests?date=All&status=2">
                            <div class="dash-widget">
                                <span class="dash-widget-bg2"><i class="fa fa-flask" aria-hidden="true"></i></span>
                                <div class="dash-widget-info text-right">
                                    <h3><%=stats.test_a_livrer%></h3>
                                    <span class="widget-title2">Tests à livrer <i class="fa fa-check"
                                            aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <a href="/patients">
                            <div class="dash-widget">
                                <span class="dash-widget-bg2"><i class="fa fa-user-o"></i></span>
                                <div class="dash-widget-info text-right">
                                    <h3><%=stats.NbPatientsActif%></h3>
                                    <span class="widget-title2">Patients <i class="fa fa-check"
                                            aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <a href="/materiaux">
                            <div class="dash-widget">
                                <span class="dash-widget-bg5"> <img src="assets/img/stock2.png" width="40" height="40"
                                        alt=""> </span>
                                <div class="dash-widget-info text-right">
                                    <h3><%=stats.TotProduct%></h3>
                                    <span class="widget-title3">Matériaux <i class="fa fa-check"
                                            aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <a href="/inventaire?statut=Critique">
                            <div class="dash-widget">
                                <span class="dash-widget-bg5"> <img src="assets/img/stock2.png" width="40" height="40"
                                        alt=""> </span>
                                <div class="dash-widget-info text-right">
                                    <h3><%=stats.StockAlertCount%></h3>
                                    <span class="widget-title4">Stock Critique <i class="fa fa-check"
                                            aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <a href="/inventaire?statut=Expiré">
                            <div class="dash-widget">
                                <span class="dash-widget-bg5"> <img src="assets/img/stock2.png" width="40" height="40"
                                        alt=""> </span>
                                <div class="dash-widget-info text-right">
                                    <h3><%=stats.StockExpiredCount%></h3>
                                    <span class="widget-title5">Stock expiré <i class="fa fa-check"
                                            aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="row">
                    <div id="testCurrentY" style="display: none;"><%=stats.countTestRequestCurrentYear%></div>
                    <div id="testPastY" style="display: none;"><%=stats.countTestRequestPastYear%></div>
                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="chart-title">
                                    <h4>Demande d'examens</h4>
                                    <span class="float-right"><i class="<%=stats.classVal%>" aria-hidden="true"></i>
                                        <%=stats.comment%></span>
                                </div>
                                <canvas id="linegraph"></canvas>
                            </div>
                        </div>
                    </div>
                    <div id="countCurrentY" style="display: none;"><%=stats.countPatientCurrentYear%></div>
                    <div id="countPastY" style="display: none;"><%=stats.countPatientPastYear%></div>
                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="chart-title">
                                    <h4>Patients</h4>
                                    <div class="float-right">
                                        <ul class="chat-user-total">
                                            <li><i class="fa fa-circle status-blue" aria-hidden="true"></i> Cette
                                                année</li>
                                            <li><i class="fa fa-circle status-orange" aria-hidden="true"></i> Année
                                                passée</li>
                                        </ul>
                                    </div>
                                </div>
                                <canvas id="bargraph"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sidebar-overlay" data-reff=""></div>
        <script src="assets/js/jquery-3.2.1.min.js"></script>
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.slimscroll.js"></script>
        <script src="assets/js/Chart.bundle.js"></script>
        <script src="assets/js/app.js"></script>
        <script>
            // Line Chart
            var countTestRequestPastYear = $("#testPastY").html();
            var ArrayTestRequestPastYear = countTestRequestPastYear.split(",");
            var countTestRequestCurrentYear = $("#testCurrentY").html();
            var ArrayTestRequestCurrentYear = countTestRequestCurrentYear.split(",");
            var lineChartData = {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                datasets: [{
                    label: "Année en cours",
                    backgroundColor: "rgba(0, 158, 251, 0.5)",
                    data: ArrayTestRequestCurrentYear
                }, {
                    label: "Année précédente",
                    backgroundColor: "rgba(255, 188, 53, 0.5)",
                    fill: true,
                    data: ArrayTestRequestPastYear
                }]
            };

            var linectx = document.getElementById('linegraph').getContext('2d');
            window.myLine = new Chart(linectx, {
                type: 'line',
                data: lineChartData,
                options: {
                    responsive: true,
                    legend: {
                        display: false,
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    }
                }
            });

            var countPatientPastYear = $("#countPastY").html();
            var ArraycountPatientPastYear = countPatientPastYear.split(",");
            var countPatientCurrentYear = $("#countCurrentY").html();
            var ArraycountPatientCurrentYear = countPatientCurrentYear.split(",");
            // Bar Chart
            var barChartData = {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                datasets: [{
                    label: 'Année en cours',
                    backgroundColor: 'rgba(0, 158, 251, 0.5)',
                    borderColor: 'rgba(0, 158, 251, 1)',
                    borderWidth: 1,
                    data: ArraycountPatientCurrentYear
                },
                {
                    label: 'Année précédente',
                    backgroundColor: 'rgba(255, 188, 53, 0.5)',
                    borderColor: 'rgba(255, 188, 53, 1)',
                    borderWidth: 1,
                    data: ArraycountPatientPastYear
                }
                ]
            };

            var ctx = document.getElementById('bargraph').getContext('2d');
            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: barChartData,
                options: {
                    responsive: true,
                    legend: {
                        display: false,
                    }
                }
            });
        </script>
        <!-- FOOTER -->
        <%- include("parts/footer") -%>
</body>



</html>