<!DOCTYPE html>
<html lang="en">


<!-- add-patient24:06-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title><%=appName%>| <%=pageTitle%></title>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <!-- HEADER -->
        <%- include("../parts/header") -%>
        <!-- SIDEBAR -->
        <%- include("../parts/sidebar") -%>
    </div>
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h4 class="page-title"> <%=pageTitle%> </h4>
                </div>
            </div>
            <div class="row">
                
                <div class="col-lg-8 offset-lg-2">
                    <% if( locals.notifications){ %>
                        <div class="alert alert-<%= locals.notifications.type %> alert-dismissible fade show" role="alert">
                            <%= locals.notifications.msg %> 
                            <form method="POST" action="/test-laboratoire">
                                <input type="hidden" value="<%= locals.notifications.patientID%>" name="patientSelected">
                                <button class="btn btn-primary ">Examen laboratoire</button>
                            </form>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    <% } %>

                    <% if( locals.data ){
                        buttonText = "Modifier";
                                prenomVal = data.prenom;
                                nomVal = data.nom;
                                datenaisVal = data.date_nais;
                                adresseVal = data.adresse;
                                telephoneVal = data.telephone;
                                sexe = data.sexe;
                                statut = data.statut;
                           %>

                    <% }else{   
                                prenomVal = "";
                                nomVal = "";
                                datenaisVal = "";
                                adresseVal = "";
                                telephoneVal = "";
                                sexe = "";
                                statut ="";
                                buttonText = "Créer Patient";
                           }
                            %>
                    <form method="POST" action="">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Prénom <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" name="firstname" value="<%=prenomVal%>"
                                        required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Nom</label>
                                    <input class="form-control" type="text" name="lastname" required
                                        value="<%=nomVal%>">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Date de naissance</label>
                                    <div class="cal-icon">
                                        <input type="text" class="form-control" id="date" placeholder="jj-mm-yyyy"
                                            required name="datenais" value="<%=datenaisVal%>">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <div class="form-group">
                                    <label>Sexe</label>
                                    <select class="form-control select" name="gender">
                                        <option value="M" <% if(sexe == "M" ){ %> selected <% } %>>Masculin</option>
                                        <option value="F" <% if(sexe == "F" ){ %> selected <% } %>>Féminin</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Address</label>
                                            <input type="text" class="form-control " name="adresse"
                                                value="<%=adresseVal%>">
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Phone </label>
                                            <input class="form-control" type="text" name="telephone"
                                                value="<%=telephoneVal%>">
                                        </div>
                                    </div>
                                </div>
                                <% if( locals.data ){ %>
                                <input type="hidden" name="patientID" value="<%=data.id%>">
                                <div class="form-group">
                                    <label class="display-block">Statut</label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="status" id="patient_active"
                                            value="1" <% if(statut  == 1 ){ %> checked <% } %>>
                                        <label class="form-check-label" for="patient_active">
                                            Actif
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="status" id="patient_inactive"
                                            value="0" <% if(statut  == 0 ){ %> checked <% } %>>
                                        <label class="form-check-label" for="patient_inactive">
                                            Inactif
                                        </label>
                                    </div>
                                </div>
                                <% } %>
                                <div class="m-t-20 text-center">
                                    <button class="btn btn-primary submit-btn"><%=buttonText%></button>
                                </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script>
        $(":input").inputmask();
        $("#date").inputmask({ "mask": "(999) 999-9999" });
    </script>
</body>


<!-- add-patient24:07-->

</html>