<!DOCTYPE html>
<html lang="en">


<!-- profile22:59-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title><%=appName%>| <%=pageTitle%></title>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <!-- HEADER -->
        <%- include("../parts/header") -%>
        <!-- SIDEBAR -->
        <%- include("../parts/sidebar") -%>

        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-7 col-6">
                        <h4 class="page-title">Profile <%=data.fullname%></h4>
                    </div>
                </div>
                <div class="card-box profile-header">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="profile-view">
                                <div class="profile-img-wrap">
                                    <div class="profile-img">
                                        <a href="#"><img class="avatar"  src="assets/img/user.jpg" alt=""></a>
                                    </div>
                                </div>
                                <div class="profile-basic">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="profile-info-left">
                                                <h3 class="user-name m-t-0 mb-0"><%=data.fullname%></h3>
                                                <small class="text-muted"><%=data.age%> ans</small>
                                                <div class="staff-id">Patient ID : <%=data.numero_patient%></div>
                                                <div class="staff-msg">
                                                    <% if(UserData.user_sub_menu_access.includes("Modifier Patients") || UserData.user_sub_menu_access[0]=="All"){ %>
                                                    <a href="/edit-patient?patient=<%= data.id_personne %>&19870000"
                                                        class="btn btn-primary">Modifier</a>

                                                    <%if(dataExams.length==0) { %>
                                                    <a href="#" data-toggle="modal" data-target="#DeleteRequest"
                                                        class="btn btn-danger">Supprimer</a>
                                                    <% } %>

                                                    <% }else{ %>
                                                        <br><br><br><br>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <ul class="personal-info">
                                                <li>
                                                    <span class="title">Téléphone:</span>
                                                    <span class="text"><a href="#"><%=data.telephone%></a></span>
                                                </li>
                                                <li>
                                                    <% let email;
                                                       if(data.email== null){ 
                                                           email="Aucune";
                                                        }else{ 
                                                            email = data.email ;
                                                        } %>
                                                    <span class="title">Email:</span>
                                                    <span class="text"><a href="#"><%=email %></a></span>
                                                </li>
                                                <li>
                                                    <span class="title">Date Naissance:</span>
                                                    <span class="text"><%=data.date_nais_fr%></span>
                                                </li>
                                                <li>
                                                    <span class="title">Adresse:</span>
                                                    <span class="text"><%=data.adresse%></span>
                                                </li>
                                                <li>
                                                    <span class="title">Sexe:</span>
                                                    <span class="text"><%=data.sexe%></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%if(dataExams.length>0) { %>
                <div class="row m-t-10">
                    <div class="col-md-12">
                        <div class="card-box">
                            <h3 class="card-title">Examens Laboratoire</h3>
                            <div class="experience-box">
                                <ul class="experience-list">
                                    <% dataExams.forEach((item,index) => { %>
                                    <!-- FORM TO PRINT-->
                                    <form id="PrintForm<%=item.request_id%>" target="_blank"
                                        action="/display-test-result" method="POST">
                                        <input type="hidden" name="id_test_request" value="<%=item.request_id%>">
                                        <input type="hidden" name="patient" value="<%=data.fullname%>">
                                        <input type="hidden" name="patientAge" value="<%=data.age%>">
                                        <input type="hidden" name="patientSexe" value="<%=data.sexe%>">
                                        <input type="hidden" name="patientNumber" value="<%=data.numero_patient%>">
                                        <input type="hidden" name="docteur" value="<%=item.docteur%>">
                                    </form>
                                    <li>
                                        <div class="experience-user">
                                            <div class="before-circle"></div>
                                        </div>
                                        <div class="experience-content">
                                            <div class="timeline-content">
                                                <a href="#" class="name"><%=item.examens%></a>
                                                <% if(UserData.user_sub_menu_access.includes("Imprimer Résultat") || UserData.user_sub_menu_access[0]=="All"){ %>
                                                <a href="#" title="Imprimer les résultats"
                                                    onclick="printResult('<%=item.request_id%>')" class="name"><i
                                                        class="fa fa-print"></i></a>
                                                <% } %>
                                                <div><%=item.docteur%></div>
                                                <span class="time"><%=item.date_record%></span>
                                                <span class="time">Numéro : <%=item.request_id%> |
                                                    <%=TEST_STATUS[item.statut]%></span>
                                            </div>
                                        </div>
                                    </li>
                                    <% }) %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>



            </div>

        </div>
    </div>
    <div id="DeleteRequest" class="modal fade delete-modal" role="dialog" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <img src="assets/img/sent.png" alt="" width="50" height="46">
                    <form id="DeleteForm">
                        <input type="hidden" name="fullname" value="<%=data.fullname%>">
                        <input type="hidden" name="PatientID" value="<%=data.id_personne%>">
                    </form>
                    <br>Voulez-vous supprimer <strong><%=data.fullname+" | "+data.numero_patient%></strong> ?
                    <div id="msg"></div>
                    <div class="m-t-20"> <a href="#" class="btn btn-danger" data-dismiss="modal">Non</a>
                        <button type="submit" class="btn btn-success" onclick="supprimerPatient()">Oui</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/app.js"></script>
    <!-- FOOTER -->
    <%- include("../parts/footer") -%>
</body>

<script>
    //Display the test result
    function printResult(id) {
        $("#PrintForm" + id).submit();
    }

    supprimerPatient = function () {
        let formData = $("#DeleteForm").serialize();
        $.post("/delete-patient", formData, function (data) {
            console.log(data);
            if (data.success) { //Success 
                $("#msg").html(data.msg).fadeOut(5000, () => {
                    window.location.replace("/home");
                });
            } else {
                $("#msg").html(data.error);
            }
        });
    }

</script>

<!-- profile23:03-->

</html>