<!DOCTYPE html>
<html lang="en">


<!-- patients23:17-->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
	<title><%=appName%>| <%=pageTitle%></title>
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/select2.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<div class="main-wrapper">
		<!-- HEADER -->
		<%- include("../parts/header") -%>
		<!-- SIDEBAR -->
		<%- include("../parts/sidebar") -%>

		<div class="page-wrapper">
			<div class="content">
				<div class="row">
					<div class="col-sm-4 col-3">
						<h4 class="page-title"> <i class="fa fa-bell-o fa-2x"></i> <%=pageTitle%> </h4>
					</div>
					<div class="col-sm-8 col-9 text-right m-b-20">
						<a href="#" data-toggle="modal" data-target="#NewNotification"
							class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Nouvelle
							notification</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table id="dtBasicExample" class="table table-border table-striped custom-table ">
								<thead>
									<tr>
										<th>ID</th>
										<th>De</th>
										<th>A</th>
										<th>Type</th>
										<th>Titre</th>
										<th>Contenu</th>
										<th>Publier</th>
										<th>Date</th>
										<th class="text-right">Actions</th>
									</tr>
								</thead>
								<tbody id="table">
									<% notifications.forEach((notif) => { %>
									<tr id="row<%= notif.id %>">
										<td><%= notif.id %></td>
										<td><%= notif.de %></td>
										<td><%= notif.a %></td>
										<td><%= notif.type_notif %></td>
										<td><%= notif.titre %></td>
										<td><%= notif.contenu.substring(0,20)+"..." %></td>
										<td><%= notif.publier %></td>
										<td><%= notif.date_notif %></td>
										<td class="text-right">
											<% if(UserData.user_sub_menu_access.includes("Modifier notifs") || UserData.user_sub_menu_access[0]=="All"){%>
											<a href="#"
												onclick="launchEditnotif('<%= notif.titre %>','<%= notif.id %>','<%= notif.contenu %>','<%= notif.publier %>')"><i
													class="fa fa-trash m-r-5"></i> Supprimer</a>
											<% } %>
										</td>
									</tr>
									<% }) %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

		</div>



		<div id="NewNotification" class="modal fade" role="dialog" data-backdrop="static">
			<div class="modal-dialog modal-lg">
				<div class="modal-content modal">
					<div class="modal-header">
						<h4 class="modal-title">Nouvelle notification</strong> </h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<form id="sendNotificationForm">
							<input type="hidden" name="notificationID" id="notificationID">
							<div class="row">
								<div class="col-lg-12">
									<label>Type de notification</label>
									<div class="form-group">
										<select class="form-control m-r-5" name="TypeNotif" id="type">
											<option value="warning">Avertissement</option>
											<option value="danger">Alerte</option>
											<option value="info">Information</option>
											<option value="success">Succès</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-inline">
										<label>Destinataires</label>
										<select class="select form-control" multiple name="users[]" id="UsersSelected">
											<option value="All" selected>Tout le monde</option>
											<% UserList.forEach((user) => { %>
											<option value="<%= user.user_name %>">
												<%= user.user_name+" | "+user.fullname %></option>
											<% }) %>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 m-t-10">
									<label>Titre</label>
									<div class="form-group">
										<input type="text" required name="subject" id="subject" class="form-control">
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-12 m-t-10">
									<label>Message</label>
									<div class="form-group">
										<textarea required class="form-control" name="Message" id="Message" cols="30"
											rows="5"></textarea>
									</div>
								</div>
							</div>
							<div id="msgSaveNotif" class="m-t-10 text-center"></div>
							<div class="m-t-20 align-content-center form-inline">
								<select class="form-control m-r-5" name="publier">
									<option value="1">Publier</option>
									<option value="0">Brouillon</option>
								</select>
								<button class="btn btn-primary submit-btn">Enregistrer</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div id="delete_notifi" class="modal fade delete-modal" role="dialog" data-keyboard="false">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body text-center">
						<img src="assets/img/sent.png" alt="" width="50" height="46">
						<form id="deleteForm">
							<input type="hidden" name="NotifID" id="NotifID">
						</form>
						<br><strong>Voulez-vous supprimer la notification ? </strong>
						<br>
						<h3 id="NotificationName"></h3>
						<div id="msgDeleteNotif"></div>
						<div class="m-t-20">
							<a href="#" class="btn btn-white" data-dismiss="modal">NON</a>
							<button type="submit" class="btn btn-danger" onclick="deleteNotification()">OUI</button>
						</div>
					</div>
				</div>
			</div>

		</div>


	</div>
	<div class="sidebar-overlay" data-reff=""></div>
	<script src="assets/js/jquery-3.2.1.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/jquery.slimscroll.js"></script>
	<script src="assets/js/select2.min.js"></script>
	<script src="assets/js/jquery.dataTables.min.js"></script>
	<script src="assets/js/dataTables.bootstrap4.min.js"></script>
	<script src="assets/js/moment.min.js"></script>
	<script src="assets/js/bootstrap-datetimepicker.min.js"></script>
	<script src="assets/js/app.js"></script>
	<!-- FOOTER -->
	<%- include("../parts/footer") -%>
	<script>

		$("#sendNotificationForm").submit(function (e) {
			e.preventDefault();
			saveNotification();
		});

		saveNotification = function () {
			$("#msgSaveNotif").show().html("");
			let formData = $("#sendNotificationForm").serialize();
			let userSelected = [];
			let titre = $("#subject").val();
			let type = $("#type").val();
			let message = $("#Message").val();
			let notif = { title: titre, type: type, message: message, date: new Date() };
			$("#UsersSelected option:selected").each(function () {
				if (this.selected) {
					userSelected.push($(this).val());
				}
			});

			$.post("/save-notification", formData, function (data) {
				console.log(data);
				if (data.success) { //Success 
					//NOTIFY THE CHANGE
					socket.emit('updateNotificationCount', { userSelected: userSelected, message: notif });
					$("#msgSaveNotif").html(data.msg).fadeOut(5000, function () {
						//window.location.replace("/manage-notifications?ID="+data.id);
					});
				} else {
					$("#msgSaveNotif").html(data.msg);
				}
			});
		}

		function launchEditnotif(exam, examId, type_resultat, is_bilan) {
			$("#msgDeleteNotif").show().html("");
			$("#NotifID").val(examId);
			$("#NotificationName").html(exam + " # " + examId);
			$("#delete_notifi").modal();
		}
		deleteNotification = function () {
			let formData = $("#deleteForm").serialize();
			$.post("/delete-notification", formData, function (data) {
				console.log(data);
				if (data.success) { //Success 
					let id = $("#notificationID").val();
					$("#msgDeleteNotif").html(data.msg).fadeOut(5000, () => {
						window.location.replace("/manage-notifications");
					});
				} else {
					$("#msgDeleteNotif").html(data.msg);
				}
			});
		}

	</script>
</body>


<!-- patients23:19-->

</html>