<%
if (locals.page) {
    NewPatient = "";
    PatientsList = "";

    NewExam = "";
    ExamsList = "";

    AddMateriau = "";
    ListMateriau = "";
    Inventaire = "";

    switch (page) {
       case 'NewPatient' :   NewPatient = "active";
                             break;
       case 'PatientsList' : PatientsList = "active";
                             break;
       case 'NewExam' :      NewExam = "active";
                             break;
       case 'ExamsList' :    ExamsList = "active";
                             break;
       case 'AddMateriau' :  AddMateriau = "active";
                             break;
       case 'ListMateriau' : ListMateriau = "active";
                             break;
       case 'Inventaire' :   Inventaire = "active";
                             break;
    }
}
%>
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">Menu</li>
                <li class="active">
                    <a href="/home"><i class="fa fa-dashboard"></i> <span>Tableau de bord</span></a>
                </li>
                <!-- PATIENT --> 
                <li class="submenu">
                    <a href="#"><i class="fa fa-wheelchair"></i> <span> Patients </span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class="<%=NewPatient%>" href="/add-patient">Nouveau </a></li>
                        <li><a class="<%=PatientsList%>" href="/patients">Liste des patients</a></li>
                    </ul>
                </li>
                <!-- EXAMENS -->
                <li class="submenu">
                    <a href="#"><i class="fa fa-flask"></i> <span> Examens </span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class="<%=NewExam%>" href="/add-examens">Nouvel </a></li>
                        <li><a class="<%=ExamsList%>" href="/examens">Liste des examens</a></li>
                    </ul>
                </li>

                <!-- STOCK -->
                <li class="submenu">
                    <a href="#"><i class="fa fa-list"></i> <span>Gestion de stock  </span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class="<%=AddMateriau%>" href="/add-materiau">Nouveau Matériau </a></li>
                        <li><a class="<%=ListMateriau%>" href="/materiaux">Liste des Matériaux</a></li>
                        <li><a class="<%=Inventaire%>" href="/inventaire">Inventaire </a></li>
                        <li><a class="<%=Inventaire%>" href="/inventaire">Mouvement de stock </a></li>
                        
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</div>