<%
if (locals.page) {
    Home = "";

    SearchPatient = "";
    NewPatient = "";
    PatientsList = "";

    NewExam = "";
    ExamsList = "";

    AddMateriau = "";
    ListMateriau = "";
    Inventaire = "";
    StockMoving = "";

    NewTest = "";
    ListTest = "";
    SaveTestResult =""; 

    GeneralSettings = "";

    Administration = "";
    User = "";
    Notifications = "";
    backUpDB = "";


    switch (page) {
       case 'Home' :         Home = "active";
                             break;
       case 'SearchPatient' :SearchPatient = "active";
                             break;                    
       case 'NewPatient' :   NewPatient = "active";
                             break;
       case 'PatientsList' : PatientsList = "active";
                             break;
       case 'NewExam' :      NewExam = "active";
                             break;
       case 'ExamsList' :    ExamsList = "active";
                             break;
       case 'AddMateriau' :  AddMateriau = "active";
                             break;
       case 'ListMateriau' : ListMateriau = "active";
                             break;
       case 'Inventaire' :   Inventaire = "active";
                             break;
       case 'StockMoving' :  StockMoving = "active";
                             break;
       case 'NewTest' :      NewTest = "active";
                             break;
       case 'ListTest' :     ListTest = "active";
                             break;
       case 'SaveTestResult' : SaveTestResult = "active";
                             break;   
       case 'GeneralSettings' : GeneralSettings = "active";
                             break;  
       case 'Administration' : Administration = "active";
                             break;
       case 'Notifications' : Notifications = "active";
                             break;               
       case 'User'           : User = "active"  ;
                             break;  
       case 'backUpDB'           : backUpDB = "active"  ;
                             break;                                  
                             
    }
}
%>
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">Menu</li>
                <% if(UserData.user_menu_access.includes("Tableau de bord") || UserData.user_menu_access[0]=="All"){%>
                <li class="<%=Home%>">
                    <a href="/home"><i class="fa fa-dashboard"></i> <span>Tableau de bord</span></a>
                </li>
                <% } %>
                <!-- MESSAGERIE -->
                <li>
                    <a id="NbRequest" href="/requests?statut=0"><i class="fa fa-comments"></i> <span>Demandes</span>  <span class="badge badge-pill bg-primary float-right">0</span> </a>
                </li>
                <!-- TEST LABORATOIRE -->
                <% if(UserData.user_menu_access.includes("Test Patient") || UserData.user_menu_access[0]=="All"){%>
                <li class="<%=NewTest%>">
                    <a href="/test-laboratoire"><i class="fa fa-flask"></i> <span>Test Patient</span></a>
                </li>
                <% } %>
                <!-- GESTION TEST LABORATOIRE -->
                <% if(UserData.user_menu_access.includes("Test Laboratoire") || UserData.user_menu_access[0]=="All"){%>
                <li class="submenu">
                    <a href="#"><i class="fa fa-file-o"></i> <span>Test Laboratoire </span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <% if(UserData.user_sub_menu_access.includes("Liste des demandes de Tests") || UserData.user_menu_access[0]=="All"){%>
                        <li><a class="<%=ListTest%>" href="/Tests">Liste des Tests</a></li>
                        <% } %>
                    </ul>
                </li>
                <% } %>
                <!-- PATIENT -->
                <% if(UserData.user_menu_access.includes("Patients") || UserData.user_menu_access[0]=="All"){%>
                <li class="submenu">
                    <a href="#"><i class="fa fa-wheelchair"></i> <span> Patients </span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <% if(UserData.user_sub_menu_access.includes("Rechercher Patient") || UserData.user_sub_menu_access[0]=="All"){%>
                        <li><a class="<%=SearchPatient%>" data-toggle="modal" data-target="#SearchPatient"
                                href="#">Rechercher </a></li>
                        <% } %>
                        <% if(UserData.user_sub_menu_access.includes("Ajouter Patient") || UserData.user_sub_menu_access[0]=="All"){%>
                        <li><a class="<%=NewPatient%>" href="/add-patient">Nouveau </a></li>
                        <% } %>
                        <% if(UserData.user_sub_menu_access.includes("Liste des Patients") || UserData.user_sub_menu_access[0]=="All"){%>
                        <!-- <li><a class="<%=PatientsList%>" href="/patients">Liste des patients</a></li> -->
                        <% } %>
                    </ul>
                </li>
                <% } %>
                <!-- EXAMENS -->
                <% if(UserData.user_menu_access.includes("Examens") || UserData.user_menu_access[0]=="All"){%>
                <li class="submenu">
                    <a href="#"><i class="fa fa-flask"></i> <span> Examens </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <% if(UserData.user_sub_menu_access.includes("Ajouter examens") || UserData.user_sub_menu_access[0]=="All"){%>
                        <li><a class="<%=NewExam%>" href="/add-examens">Nouvel </a></li>
                        <% } %>
                        <% if(UserData.user_sub_menu_access.includes("Voir la liste des examens") || UserData.user_sub_menu_access[0]=="All"){%>
                        <li><a class="<%=ExamsList%>" href="/examens">Liste des examens</a></li>
                        <% } %>
                    </ul>
                </li>
                <% } %>

                <!-- STOCK -->
                <% if(UserData.user_menu_access.includes("Gestion de stock") || UserData.user_menu_access[0]=="All"){%>
                <li class="submenu">
                    <a href="#"><i class="fa fa-list"></i> <span>Gestion de stock </span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <% if(UserData.user_sub_menu_access.includes("Ajouter Matériau") || UserData.user_sub_menu_access[0]=="All"){%>
                        <li><a class="<%=AddMateriau%>" href="/add-materiau">Nouveau Matériau </a></li>
                        <% } %>
                        <% if(UserData.user_sub_menu_access.includes("Lister les matériaux") || UserData.user_sub_menu_access[0]=="All"){%>
                        <li><a class="<%=ListMateriau%>" href="/materiaux">Liste des Matériaux</a></li>
                        <% } %>
                        <% if(UserData.user_sub_menu_access.includes("Inventaire") || UserData.user_sub_menu_access[0]=="All"){%>
                        <li><a class="<%=Inventaire%>" href="/inventaire">Inventaire </a></li>
                        <% } %>
                        <% if(UserData.user_sub_menu_access.includes("Mouvement de stock") || UserData.user_sub_menu_access[0]=="All"){%>
                        <li><a class="<%=StockMoving%>" href="/mv-stock">Mouvement de stock </a></li>
                        <% } %>
                    </ul>
                </li>
                <% } %>

                <!-- PARAMETRES  -->
                <% if(UserData.user_menu_access.includes("Paramètres") || UserData.user_menu_access[0]=="All"){%>
                <li class="submenu">
                    <a href="#"><i class="fa fa-cogs"></i> <span>Paramètres </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class="<%=GeneralSettings%>" href="/settings">Général</a></li>
                    </ul>
                </li>
                <% } %>

                <!-- Administration -->
                <% if(UserData.user_menu_access.includes("Administration") || UserData.user_menu_access[0]=="All"){%>
                <li class="submenu">
                    <a href="#"><i class="fa fa-folder-open"></i> <span>Administration </span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class="<%=Notifications%>" href="/manage-notifications">Notifications</a></li>
                        <li><a class="<%=Administration%>" href="/lab-tests-report">Rapport des Tests</a></li>
                        <li><a class="<%=User%>" href="/users">Utilisateurs</a></li>
                        <li><a class="<%=backUpDB%>" href="#" data-toggle="modal" data-target="#BackupDB"
                                title="Sauvegarde de la base de donnée">Sauvegarde BD</a></li>
                    </ul>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</div>

<div id="SearchPatient" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Rechercher Patient</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <form action="/search-patient" method="POST">
                    <input name="liveSearch" id="searchPatientInput" required autocomplete="off" spellcheck="false"
                        type="text" placeholder="Rechercher un patient ..." class="form-control">
                    <input type="hidden" name="PatientSelected" id="PatientSelected" value="-1">
                    <div class="m-t-10">
                        <ul id="ResultList"></ul>
                    </div>
                    <div id="notify" class="m-t-20 text-center"></div>
                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary submit-btn">Rechercher</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>
<div id="BackupDB" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sauvegarde de la base de données</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <form id="dbBackupForm">
                    <input name="backupPath" required type="text" value="<%=backupPath%>" onfocus="select()"
                        placeholder="Lieu de sauvegarde ..." class="form-control">
                    <div id="sauvegardeNotify" class="m-t-20 text-center"></div>
                </form>
                <div class="m-t-20 text-center">
                    <button onclick="dbBackUp()" class="btn btn-primary submit-btn">Sauvegarder</button>
                </div>

            </div>
        </div>
    </div>
</div>