<!DOCTYPE html>
<html lang="en">


<!-- invoices23:24-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title><%=appName%>| <%=pageTitle%></title>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <!-- HEADER -->
        <%- include("../parts/header") -%>
        <!-- SIDEBAR -->
        <%- include("../parts/sidebar") -%>

        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-5 col-4">
                        <h4 class="page-title"><%=pageTitle%> </h4>
                    </div>
                </div>
                <div class="row filter-row">
                    <form action="" method="POST" class="form-inline m-b-10" style="width: 60%;">
                        <div class="col-sm-3 col-md-3">
                            <div class="form-group form-focus select-focus">
                                <label class="focus-label">Statut</label>
                                <select class="select floating" name="statut">
                                    <option value="All">Tous</option>
                                    <option <% if( statut == "Critique" ){ %> <%= "selected" %> <% } %>>Critique
                                    </option>
                                    <option <% if( statut == "Expiré" ){ %> <%= "selected" %> <% } %>>Expiré</option>
                                    <option <% if( statut == "Valide" ){ %> <%= "selected" %> <% } %>>Valide</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="form-group form-focus select-focus">
                                <label class="focus-label">Matériau</label>
                                <select class="select floating" name="materiauSelected">
                                    <option value="All">Tous</option>
                                    <% materiauxList.forEach((materiau) => { %>
                                    <option value="<%=materiau.id%>" <% if( materiauSelected == materiau.id ){ %>
                                        <%= "selected" %> <% } %>>
                                        <%=materiau.nom_materiau%>
                                    </option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <button class="btn btn-success">Rechercher</button>
                        </div>
                    </form>
                    <% if(UserData.user_sub_menu_access.includes("Imprimer Inventaire") || UserData.user_sub_menu_access[0]=="All"){ %>
                    <% if(data.length >0){   %>
                    <form id="PrintForm" target="_blank" action="/print-inventory-report" method="POST">
                        <input type="hidden" name="dateFrom" value="">
                        <input type="hidden" name="statut" value="<%=statut%>">
                        <input type="hidden" name="materiauSelected" value="<%=materiauSelected%>">
                        <a href="#" class="dropdown-item" onclick="printReport()"><i class="fa fa-print fa-lg"></i>
                            Imprimer le rapport</a>
                    </form>
                    <% }  %>
                    <% }  %>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="dtBasicExample" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Matériau</th>
                                        <th>Stock</th>
                                        <th>Lot</th>
                                        <th>Date réception</th>
                                        <th>Date expiration</th>
                                        <th>Qté initiale</th>
                                        <th>Qté utilisée</th>
                                        <th>Qté endomagée</th>
                                        <th>Qté restante</th>
                                        <th>Qté min</th>
                                        <th>Statut</th>
                                        <th>Validité</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% data.forEach((stock) => {
                                        let nb_jours_restant = stock.days;
                                        let type = "green";
                                        let stock_min = 0;
                                        if( nb_jours_restant <=31 && nb_jours_restant >0 ){
                                            type = "orange";
                                        }else if(nb_jours_restant <=0){
                                            type = "red";
                                            nb_jours_restant = "Expiré ("+Math.abs(nb_jours_restant)+")";
                                        }

                                        let stockInfo = JSON.stringify(stock);
                                     %>
                                    <tr id="rowStock<%=stock.stock_id%>"
                                        title="<%=stock.nom_materiau+' | '+stock.numero_lot%>">
                                        <td>
                                            <% if(UserData.user_sub_menu_access.includes("Ajouter Stock") || UserData.user_sub_menu_access[0]=="All"){%>
                                            <a href="/materiaux?mat=<%=stock.id%>"><%=stock.nom_materiau%></a>
                                            <% }else{ %>
                                            <%= stock.nom_materiau %>
                                            <% } %>
                                        </td>
                                        <td><%=stock.stock_id%></td>
                                        <td><%=stock.numero_lot%></td>
                                        <td><%=stock.date_recue%></td>
                                        <td><%=stock.date_expiration%></td>
                                        <td><%=stock.qte_recue%></td>
                                        <td><%=stock.qte_utilisee%></td>
                                        <td><%=stock.qte_endomage%></td>
                                        <td><%=stock.qte_restante%></td>
                                        <td><%=stock.min_stock%></td>
                                        <td><span class="custom-badge status-<%= type %>"><%= nb_jours_restant %></span>
                                        </td>
                                        <td><%=STOCK_STATUS[stock.statut]%></td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                                    aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <% if(UserData.user_sub_menu_access.includes("Requete Ajouter/Retirer article du Stock") || UserData.user_sub_menu_access[0]=="All"){%>
                                                    <a class="dropdown-item" href="#" title="Mouvement de Stock"
                                                        id="btnStock<%=stock.id%>"
                                                        onclick="launchStockManagement('<%=stock.nom_materiau%>','<%=stock.id%>','<%=stock.numero_lot%>','<%=stock.stock_id%>')"><i
                                                            class="fa fa-plus-square m-r-5"></i> <i
                                                            class="fa fa-minus-square m-r-5"></i> Ajout/retrait</a>
                                                    <% } %>

                                                    <% if(UserData.user_sub_menu_access.includes("Modifier Stock") || UserData.user_sub_menu_access[0]=="All"){%>
                                                    <a class="dropdown-item" href="#"
                                                        onclick="launchEditStock('<%=stockInfo%>')"><i
                                                            class="fa fa-pencil m-r-5"></i> Modifier Stock</a>
                                                    <% } %>
                                                    <% if(UserData.user_sub_menu_access.includes("Valider/Invalider Stock") || UserData.user_sub_menu_access[0]=="All"){%>
                                                    <a class="dropdown-item" href="#"
                                                        onclick="launchStocValide('<%=stock.stock_id%>','<%=stock.nom_materiau%>','<%=stock.numero_lot%>','<%=stock.statut%>')"><i
                                                            class="fa fa-check m-r-5"></i> Valide/Invalide</a>
                                                    <% } %>

                                                    <% if(UserData.user_sub_menu_access.includes("Supprimer Stock") || UserData.user_sub_menu_access[0]=="All"){%>
                                                    <a class="dropdown-item" href="#"
                                                        onclick="launchDeleteStock('<%=stock.stock_id%>','<%=stock.nom_materiau%>','<%=stock.numero_lot%>','<%=stock.materiau%>','<%=stock.qte_restante%>')"><i
                                                            class="fa fa-trash-o m-r-5"></i> Supprimer</a>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="EditStock" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content modal-md">
                    <div class="modal-header">
                        <h5 class="modal-title"><strong id="materiauName"></strong></h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form id="EditStockForm">
                            <input type="hidden" id="oldInfo" name="oldInfo">
                            <div class="form-inline">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <label>Date reçue <span class="text-danger">*</span></label>
                                    <div class="cal-icon">
                                        <input required class="form-control datetimepicker" type="text" name="dateRecue"
                                            id="dateRecue">
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <label>Date d'expiration <span class="text-danger"></span></label>
                                    <div class="cal-icon">
                                        <input class="form-control datetimepicker" type="text" name="dateExpiration"
                                            id="dateExpiration">
                                    </div>
                                </div>
                            </div>

                            <div class="form-inline">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <label>Quantité reçue <span class="text-danger">*</span></label>
                                    <input required onclick="select()" class="form-control" type="number" min="1"
                                        name="qteRecue" id="qteRecue">
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <label>Quantité endommagée <span class="text-danger">*</span></label>
                                    <input onclick="select()" class="form-control" type="number" min="0"
                                        name="qteEndomage" id="qteEndomage">
                                </div>
                            </div>
                            <div class="form-inline">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <label>Quantité utilisée <span class="text-danger">*</span></label>
                                    <input required onclick="select()" class="form-control" type="number" min="0"
                                        name="qteUtilise" id="qteUtilise">
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <label>Quantité restante <span class="text-danger">*</span></label>
                                    <input onclick="select()" class="form-control" type="number" min="0"
                                        name="qteRestante" id="qteRestante">
                                </div>
                            </div>
                            <div id="notifyStockUp" class="m-t-20 text-center"></div>
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn">Modifier le stock</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
        <div id="addRemoveUnit" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content modal-md">
                    <div class="modal-header">
                        <h4 class="modal-title">Ajouter/retirer <strong id="materiauName"></strong></h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form id="addRemoveStockForm">
                            <input type="hidden" id="materiauId" name="materiauId">
                            <input type="hidden" id="materiau" name="materiauName">
                            <input type="hidden" id="lot" name="lot">
                            <input type="hidden" id="stock_ID" name="stock_ID">
                            <div class="form-inline">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <label>Type transaction</label>
                                    <select class="form-control select" name="type">
                                        <option value="endommagee"> Endommagée</option>
                                        <option value="substract">Retirer</option>
                                        <option value="add">Ajouter</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6  text-left">
                                    <label>Quantité <span class="text-danger">*</span></label>
                                    <input required class="form-control" id="qte" type="number" min="1" name="qte">
                                </div>
                            </div>
                            <div class="form-group text-center m-t-20">
                                <label>Commentaire</label>
                                <textarea cols="30" rows="4" class="form-control" name="commentaire"></textarea>
                            </div>

                            <div id="notifyStock" class="m-t-20 text-center"></div>
                            <div class="m-t-20 text-center">
                                <button id="btnAddOrRemove" class="btn btn-primary submit-btn">Enregistrer</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
        <div id="stockValide" class="modal fade delete-modal" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <img src="assets/img/sent.png" alt="" width="50" height="46">
                        <h2 id="stockIdName"></h2>
                        <h3>Voulez-vous modifier la validité de ce lot?</h3>
                        <div class="m-t-20">
                            <form id="validForm">
                                <input type="hidden" name="stock_id" id="stock_id">
                                <input type="hidden" name="stockName" id="stock_Name">
                                <input type="hidden" name="lot" id="Lot">
                                <input type="hidden" name="statut" id="statut">
                            </form>
                            <div id="Notif" class="m-b-10"></div>
                            <button type="submit" onclick="changeStockStatus()" class="btn btn-danger"
                                id="btnValider"></button>
                            <a href="#" class="btn btn-white" data-dismiss="modal">Fermer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="DeleteRequest" class="modal fade delete-modal" role="dialog" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <img src="assets/img/sent.png" alt="" width="50" height="46"><br>
                        <form id="DeleteForm">
                            <input type="hidden" name="stockID" id="stockID">
                            <input type="hidden" name="stockName" value="3" id="stockName">
                        </form>
                        <h2 id="StockNameDelete"></h2>
                        Voulez-vous supprimer ce stock <strong id="patientD"></strong> ?
                        <div id="msg"></div>
                        <div class="m-t-20"> <a href="#" class="btn btn-danger" data-dismiss="modal">Non</a>
                            <button type="submit" class="btn btn-success" onclick="supprimerStock()">Oui</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.dataTables.min.js"></script>
    <script src="assets/js/dataTables.bootstrap4.min.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script>
        function printReport() {
            $("#PrintForm").submit();
        }
        $("#addRemoveStockForm").submit(function (e) {
            e.preventDefault();
            addorRemoveStock();
            //NOTIFY THE CHANGE
            socket.emit('test', 'New Request!');
        });
        $("#EditStockForm").submit(function (e) {
            e.preventDefault();
            editStock();
        });
        function launchEditStock(StockInfos) {
            $("#oldInfo").val(StockInfos);
            StockInfo = JSON.parse(StockInfos);
            console.log(StockInfo);
            // $("#btnAddOrRemove").prop("disabled", false);
            $("#materiauName").html(StockInfo.nom_materiau + " | " + StockInfo.numero_lot);
            $("#qteRecue").val(StockInfo.qte_recue);
            $("#qteEndomage").val(StockInfo.qte_endomage);
            $("#qteUtilise").val(StockInfo.qte_utilisee);
            $("#qteRestante").val(StockInfo.qte_restante);
            $("#dateRecue").val(formatDate(StockInfo.date_recue, "FR"));
            $("#dateExpiration").val(formatDate(StockInfo.date_expiration, "FR"));
            // $("#StockSelected").val(lot);
            $("#EditStock").modal();
        }
        function launchStockManagement(matName, matId, lot, stock_ID) {
            $("#btnAddOrRemove").prop("disabled", false);
            $("#notifyStock").show().html("");
            $("#materiauName").html(matName + "-" + lot);
            $("#qte").val("");
            $("#materiauId").val(matId);
            $("#stock_ID").val(stock_ID);
            $("#materiau").val(matName);
            $("#lot").val(lot);
            $("#addRemoveUnit").modal();
        }
        function launchStocValide(stockID, matName, lot, statut) {
            $("#stock_id").val(stockID);
            $("#stockIdName").html(matName + "-" + lot);
            $("#stock_Name").val(matName + "-" + lot);
            $("#Lot").val(lot);

            let text = "Valide";
            if (statut == 1) {
                text = "Invalide"
                $("#statut").val(0);
            } else {
                $("#btnValider").addClass("btn btn-success");
                $("#statut").val(1);
            }
            $("#btnValider").html(text);
            $("#stockValide").modal();
        }
        addorRemoveStock = function () {
            let formData = $("#addRemoveStockForm").serialize();
            $.post("/add-remove-stock", formData, function (data) {
                console.log(data);
                if (data.success) { //Success 
                    $("#notifyStock").html(data.msg);
                    $("#btnAddOrRemove").prop("disabled", true);
                } else {
                    $("#notifyStock").html(data.msg);
                }
            });
        }

        changeStockStatus = function () {
            $("#Notif").show().html("");
            let formData = $("#validForm").serialize();
            $.post("/change-stock-status", formData, function (data) {
                console.log(data);
                if (data.success) { //Success 
                    $("#Notif").html(data.msg);//.fadeOut(5000);
                } else {
                    $("#Notif").html(data.msg);
                }
            });
        }

        function launchDeleteStock(stockID, stockName, lot, materiauId, qteRestante) {
            $("#StockNameDelete").html("" + stockName + " | " + lot);
            $("#stockName").val("" + stockName + "|" + lot + "|" + materiauId + "|" + qteRestante);
            $("#stockID").val(stockID);
            $("#DeleteRequest").modal();
        }

        supprimerStock = function () {
            let formData = $("#DeleteForm").serialize();
            $.post("/delete-stock", formData, function (data) {
                console.log(data);
                if (data.success) { //Success 
                    let id = $("#stockID").val();
                    $("#rowStock" + id).fadeOut(5000);
                    $('#DeleteRequest').modal('hide')
                } else {
                    $("#msg").html(data.error);
                }
            });
        }

        editStock = function () {
            let formData = $("#EditStockForm").serialize();
            $.post("/edit-stock", formData, function (data) {
                console.log(data);
                if (data.success) { //Success 
                    $('#EditStock').modal('hide');
                    window.location.replace("/inventaire?stockSelected=" + data.stockSelected);
                } else {
                    $("#notifyStockUp").html(data.error);
                }
            });
        }



    </script>
    <!-- FOOTER -->
    <%- include("../parts/footer") -%>
</body>


<!-- invoices23:25-->

</html>