<!DOCTYPE html>
<html lang="en">


<!-- invoices23:24-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title><%=appName%>| <%=pageTitle%></title>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <!-- HEADER -->
        <%- include("../parts/header") -%>
        <!-- SIDEBAR -->
        <%- include("../parts/sidebar") -%>

        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-5 col-4">
                        <h4 class="page-title"><%=pageTitle%> </h4>
                    </div>
                </div>
                <div class="row filter-row">
                    <form class="form-inline m-b-10" method="POST" action="" style="width: 80%;">
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group form-focus">
                                <label class="focus-label">From</label>
                                <div class="cal-icon">
                                    <input class="form-control floating datetimepicker" id="DateFrom" name="DateFrom"
                                        type="text" value="<%=dateFrom%>">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group form-focus">
                                <label class="focus-label">To</label>
                                <div class="cal-icon">
                                    <input class="form-control floating datetimepicker" id="DateTo" name="DateTo"
                                        type="text" value="<%=dateTo%>">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="form-group form-focus select-focus">
                                <label class="focus-label">Matériau</label>
                                <select class="select floating" name="materiauSelected">
                                    <option value="All">Tous</option>
                                    <% materiauxList.forEach((materiau) => { %>
                                    <option value="<%=materiau.id%>" <% if( materiauSelected == materiau.id ){ %>
                                        <%= "selected" %> <% } %>>
                                        <%=materiau.nom_materiau%>
                                    </option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <button class="btn btn-success btn-block"> Recherher </button>
                        </div>
                    </form>

                </div>
                <div class="row">
                    <% if(data.length >0){   %>
                    <% if(UserData.user_sub_menu_access.includes("Imprimer Mouvement de Stock") || UserData.user_sub_menu_access[0]=="All"){%>
                    <form id="MVS" target="_blank" action="/print-stock-move-report" method="POST">
                        <input type="hidden" name="DateFrom" value="<%=dateFromDB%>">
                        <input type="hidden" name="DateTo" value="<%=dateToDB%>">
                        <input type="hidden" name="materiauSelected" value="<%=materiauSelected%>">
                        <a href="#" class="dropdown-item" onclick="printReport('MVS')"><i class="fa fa-print fa-lg"></i>
                            Imprimer le rapport</a>
                    </form>
                    <form id="RUM" target="_blank" action="/print-materiaux-usage" method="POST">
                        <input type="hidden" name="DateFrom" value="<%=dateFromDB%>">
                        <input type="hidden" name="DateTo" value="<%=dateToDB%>">
                        <input type="hidden" name="materiauSelected" value="<%=materiauSelected%>">
                        <a href="#" class="dropdown-item" onclick="printReport('RUM')"><i class="fa fa-print fa-lg"></i>
                            Rapport d'usage des Matériaux</a>
                    </form>
                    <br><br>
                    <% }  %>
                    <% }  %>
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="dtBasicExample" class="table table-striped custom-table">
                                <thead>
                                    <tr>
                                        <th>Id transaction</th>
                                        <th>Date transaction</th>
                                        <th>Numéro Lot</th>
                                        <th>Matériau</th>
                                        <th>Quantité</th>
                                        <th>Transaction</th>
                                        <th>Commentaire</th>
                                        <th>Acteur</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% data.forEach((stock) => {
                                        let fa = "";
                                        let color = "color : red;";
                                        let title = "";
                                        if(stock.transaction == "add"){
                                            fa = "fa fa-arrow-up";
                                            title = "Augmentation de stock";
                                            color = "color : green;";
                                        }else if(stock.transaction == "substract"){
                                            fa = "fa fa-arrow-down";
                                            title = "Diminution de stock";
                                        }else if(stock.transaction == "delete"){
                                            fa = "fa fa-close";
                                            title = "Suppresion de stock";
                                        }else if(stock.transaction == "adjustment"){
                                            fa = "fa fa-refresh ";
                                        }else{
                                            fa = "fa fa-trash ";
                                            title = "Stock endommagé";
                                        }

                                        let info = JSON.stringify(stock);
                                       
                                    %>
                                    <tr>
                                        <td><%=stock.trans_id%></td>
                                        <td><%=stock.date_record%></td>
                                        <td><strong><%=stock.lot%></strong></td>
                                        <td><%=stock.nom_materiau%></td>
                                        <td><%=stock.qte%></td>
                                        <td style="<%= color %>"><i class="<%= fa%>" title="<%= title%>"></i></td>
                                        <td><%=stock.commentaire%></td>
                                        <td><%=stock.acteur%></td>
                                        <td>
                                            <a href="#" title="Annuler cette transaction " style='<%= color %>'
                                                id="btnCancellTransaction"
                                                onclick="launchCancellTransaction('<%= info %>')"
                                                class="dropdown-item"><i class="fa fa-refresh"></i>
                                                Annuler</a>
                                        </td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div id="CancellTransaction" class="modal fade delete-modal" role="dialog" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <img src="assets/img/sent.png" alt="" width="50" height="46"><br>
                        <form id="CancelForm">
                            <input type="hidden" name="formData" id="formData">
                        </form>
                        <strong id="Transaction"></strong>
                        <br>Voulez-vous annuler cette transaction ?
                        <div id="msg"></div>
                        <div class="m-t-20"> <a href="#" class="btn btn-danger" data-dismiss="modal">Non</a>
                            <button type="submit" class="btn btn-success" onclick="cancelTransaction()">Oui</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.dataTables.min.js"></script>
    <script src="assets/js/dataTables.bootstrap4.min.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script>
        $("#CancelForm").submit(function (e) {
            e.preventDefault();
            cancelTransaction();
        });
        function launchCancellTransaction(info) {
            $("#formData").val(info);
            info = JSON.parse(info);
            console.log("TRANSACTION : ", info.stock_id);
            $("#Transaction").html(info.commentaire);
            $("#CancellTransaction").modal();
        }
        cancelTransaction = function () {
            $("#notify").show().html();
            let formData = $("#CancelForm").serialize();
            $.post("/cancel-transaction", formData, function (data) {
                console.log(data);
                if (data.success) { //Success 
                    $("#notify").html(data.msg);//.fadeOut(5000);
                } else {
                    $("#notify").html(data.msg);
                }
            });
        }

        function printReport(formToPrint) {
            $("#" + formToPrint).submit();
        }
    </script>
    <!-- FOOTER -->
    <%- include("../parts/footer") -%>
</body>


<!-- invoices23:25-->

</html>