<!DOCTYPE html>
<html lang="en">


<!-- invoices23:24-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title><%=appName%>| <%=pageTitle%></title>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <!-- HEADER -->
        <%- include("../parts/header") -%>
        <!-- SIDEBAR -->
        <%- include("../parts/sidebar") -%>

        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-5 col-4">
                        <h4 class="page-title"><%=pageTitle%> </h4>
                    </div>
                </div>
                <div class="row filter-row">
                    <form class="form-inline m-b-10" method="POST" action="" style="width: 80%;">
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group form-focus">
                                <label class="focus-label">From</label>
                                <div class="cal-icon">
                                    <input class="form-control floating datetimepicker" name="DateFrom" type="text" value="<%=dateFrom%>">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group form-focus">
                                <label class="focus-label">To</label>
                                <div class="cal-icon">
                                    <input class="form-control floating datetimepicker" name="DateTo" type="text"  value="<%=dateTo%>">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="form-group form-focus select-focus">
                                <label class="focus-label">Matériau</label>
                                <select class="select floating" name="materiauSelected">
                                    <option value="All">Tous</option>
                                    <% materiauxList.forEach((materiau) => { %>
                                    <option value="<%=materiau.id%>" <% if( materiauSelected == materiau.id ){ %> <%= "selected" %> <% } %> > 
                                        <%=materiau.nom_materiau%>
                                    </option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <button class="btn btn-success btn-block"> Search </button>
                        </div>
                    </form>
                    <% if(data.length >0){   %>
                        <form id="PrintForm" target="_blank" action="/print-stock-move-report" method="POST">
                            <input type="hidden" name="DateFrom" value="<%=dateFromDB%>">
                            <input type="hidden" name="DateTo" value="<%=dateToDB%>">
                            <input type="hidden" name="materiauSelected" value="<%=materiauSelected%>">
                            <a href="#" class="dropdown-item" onclick="printReport()"><i class="fa fa-print fa-lg"></i>
                                Imprimer le rapport</a>
                        </form>
                    <% }  %>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table datatable mb-0">
                                <thead>
                                    <tr>
                                        <th>Date transaction</th>
                                        <th>Numéro Lot</th>
                                        <th>Matériau</th>
                                        <th>Quantité</th>
                                        <th>Transaction</th>
                                        <th>Commentaire</th>
                                        <th>Acteur</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% data.forEach((stock) => {
                                        let fa = "";
                                        let color = "color : red;";
                                        let title = "";
                                        if(stock.transaction == "Add"){
                                            fa = "fa fa-arrow-up";
                                            title = "Augmentation de stock";
                                            color = "color : green;";
                                        }else if(stock.transaction == "substract"){
                                            fa = "fa fa-arrow-down";
                                            title = "Diminution de stock";
                                        }else{
                                            fa = "fa fa-arrow-down ";
                                            title = "Stock endommagé";
                                        }
                                    %>
                                    <tr>
                                        <td><%=stock.date_record%></td>
                                        <td><strong><%=stock.lot%></strong></td>
                                        <td><%=stock.nom_materiau%></td>
                                        <td><%=stock.qte%></td>
                                        <td style = "<%= color %>"><i class="<%= fa%>" title="<%= title%>"></i></td>
                                        <td><%=stock.commentaire%></td>
                                        <td><%=stock.acteur%></td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.dataTables.min.js"></script>
    <script src="assets/js/dataTables.bootstrap4.min.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script>
        $("#addRemoveStockForm").submit(function (e) {
            e.preventDefault();
            addorRemoveStock();
        });
        function launchStockManagement(matName, matId, lot) {
            $("#materiauName").html(matName + "-" + lot);
            $("#materiauId").val(matId);
            $("#materiau").val(matName);
            $("#lot").val(lot);
            $("#addRemoveUnit").modal();
        }
        addorRemoveStock = function () {
            $("#notify").show().html();
            let formData = $("#addRemoveStockForm").serialize();
            $.post("/add-remove-stock", formData, function (data) {
                console.log(data);
                if (data.success) { //Success 
                    $("#notify").html(data.msg);//.fadeOut(5000);
                } else {
                    $("#notify").html(data.msg);
                }
            });
        }

        function printReport() {
            $("#PrintForm").submit();
        }
    </script>
    <!-- FOOTER -->
    <%- include("../parts/footer") -%>
</body>


<!-- invoices23:25-->

</html>