<!DOCTYPE html>
<html lang="en">


<!-- invoices23:24-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title><%=appName%>| <%=pageTitle%></title>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <!-- HEADER -->
        <%- include("../parts/header") -%>
        <!-- SIDEBAR -->
        <%- include("../parts/sidebar") -%>

        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-5 col-4">
                        <h4 class="page-title"><%=pageTitle%> </h4>
                    </div>
                    <div class="col-sm-7 col-8 text-right m-b-30">
                        <a href="create-invoice.html" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i>
                            Create New Invoice</a>
                    </div>
                </div>
                <div class="row filter-row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus">
                            <label class="focus-label">From</label>
                            <div class="cal-icon">
                                <input class="form-control floating datetimepicker" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus">
                            <label class="focus-label">To</label>
                            <div class="cal-icon">
                                <input class="form-control floating datetimepicker" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus select-focus">
                            <label class="focus-label">Status</label>
                            <select class="select floating">
                                <option>Select Status</option>
                                <option>Pending</option>
                                <option>Paid</option>
                                <option>Partially Paid</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <a href="#" class="btn btn-success btn-block"> Search </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table datatable mb-0">
                                <thead>
                                    <tr>
                                        <th>Date transaction</th>
                                        <th>Numéro Lot</th>
                                        <th>Matériau</th>
                                        <th>Quantité</th>
                                        <th>Transaction</th>
                                        <th>Commentaire</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% data.forEach((stock) => {
                                        let fa = "";
                                        if(stock.transaction == "Add"){
                                            fa = "fa fa-plus";
                                        }else if(stock.transaction == "substract"){
                                            fa = "fa fa-minus";
                                        }else{
                                            fa = "fa fa-trash";
                                        }
                                    %>
                                    <tr>
                                        <td><%=stock.date_record%></td>
                                        <td><a href=""><%=stock.lot%></a></td>
                                        <td><%=stock.nom_materiau%></td>
                                        <td><%=stock.qte%></td>
                                        <td><i class="<%= fa%>"></i></td>
                                        <td><%=stock.commentaire%></td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.dataTables.min.js"></script>
    <script src="assets/js/dataTables.bootstrap4.min.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script>
        $("#addRemoveStockForm").submit(function(e){
            e.preventDefault();
            addorRemoveStock();
        });
        function launchStockManagement(matName, matId, lot) {
            $("#materiauName").html(matName + "-" + lot);
            $("#materiauId").val(matId);
            $("#materiau").val(matName);
            $("#lot").val(lot);
            $("#addRemoveUnit").modal();
        }
        addorRemoveStock = function () {
            $("#notify").show().html();
            let formData = $("#addRemoveStockForm").serialize();
            $.post("/add-remove-stock", formData, function (data) {
                console.log(data);
                if (data.success) { //Success 
                    $("#notify").html(data.msg);//.fadeOut(5000);
                } else {
                    $("#notify").html(data.msg);
                }
            });
        }
    </script>
</body>


<!-- invoices23:25-->

</html>