<!DOCTYPE html>
<html lang="en">


<!-- patients23:17-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title><%=appName%>| <%=pageTitle%></title>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <!-- HEADER -->
        <%- include("../parts/header") -%>
        <!-- SIDEBAR -->
        <%- include("../parts/sidebar") -%>

        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title"> <%=pageTitle%> </h4>
                        <a title="Supprimer toutes les transactions" href="#"
                            onclick="launchDeletePendingTransactions('Toutes les transactions','All')"><i
                                class="fa fa-trash fa-3x m-r-5 red"></i> Supprimer toutes les transactions</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="dtBasicExample" class="table table-border table-striped custom-table">
                                <thead>
                                    <tr>
                                        <th>Id Transaction</th>
                                        <th>Date Transaction</th>
                                        <th>Qté</th>
                                        <th>Matériau</th>
                                        <th>Examen</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% data.forEach((pending) => { %>
                                    <tr id="row<%= pending.id_trans %>">
                                        <td><%= pending.id_trans %></td>
                                        <td><%= pending.date_trans %></td>
                                        <td><%= pending.qte_a_enlever %></td>
                                        <td><%= pending. nom_materiau %></td>
                                        <td><%= pending.nom_examen %></td>
                                        <td>
                                            <% if(UserData.user_sub_menu_access.includes("Supprimer transactions pendantes") || UserData.user_sub_menu_access[0]=="All"){%>
                                            <a href="#"
                                                onclick="launchDeletePendingTransactions('<%= pending. nom_materiau %>','<%= pending.id_trans %>')"><i
                                                    class="fa fa-trash m-r-5"></i> Supprimer</a>
                                            <% } %>
                                        </td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="DeletePendingTransaction" class="modal fade delete-modal" role="dialog" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <img src="assets/img/sent.png" alt="" width="50" height="46">
                        <form id="deleteForm">
                            <input type="hidden" name="PendingTransId" id="PendingTransId">
                            <input type="hidden" name="PendingTransaction" id="PendingTransaction">
                        </form>
                        <h3>Voulez-vou supprimer <i id="PendingTrans"></i>?</h3>
                        <div id="DeleteExamNotif"></div>
                        <div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">NON</a>
                            <button type="submit" class="btn btn-danger" onclick="deletePendingTrans()">OUI</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="assets/js/jquery.dataTables.min.js"></script>
    <script src="assets/js/dataTables.bootstrap4.min.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
        //DELETE TRANSACTIONS
        function launchDeletePendingTransactions(exam, examId) {
            $("#DeleteExamNotif").show().html("");
            $("#PendingTrans").html(examId + " | " + exam);
            $("#PendingTransaction").val(examId + " | " + exam);
            $("#PendingTransId").val(examId);
            $("#DeletePendingTransaction").modal();
        }
        deletePendingTrans = function () {
            $("#DeleteExamNotif").show().html("");
            let formData = $("#deleteForm").serialize();
            $.post("/delete-pending-transaction", formData, function (data) {
                if (data.success) { //Success 
                    $("#DeleteExamNotif").html(data.msg).fadeOut(2000, function () {
                        $("#DeleteExamen").modal('hide');
                        let item = $("#PendingTransId").val();
                        if (item == "All") {
                            window.location.href = "/pending-transactions";
                        } else {
                            $("#row" + item).fadeOut(3000, function () {
                                $("#DeletePendingTransaction").modal('hide');
                            });
                        }

                    });

                } else {
                    $("#DeleteExamNotif").html(data.msg);
                }
            });
        }
    </script>
</body>
<!-- FOOTER -->
<%- include("../parts/footer") -%>

<!-- patients23:19-->

</html>