<!DOCTYPE html>
<html lang="en">


<!-- invoices23:24-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title><%=appName%>| <%=pageTitle%></title>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <!-- HEADER -->
        <%- include("../parts/header") -%>
        <!-- SIDEBAR -->
        <%- include("../parts/sidebar") -%>

        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-5 col-4">
                        <h4 class="page-title"><%=pageTitle%> </h4>
                    </div>
                </div>
                <div class="row filter-row">
                    <form class="form-inline m-b-10" method="POST" action="" style="width: 80%;">
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group form-focus">
                                <label class="focus-label">From</label>
                                <div class="cal-icon">
                                    <input class="form-control floating datetimepicker" name="DateFrom" type="text" value="<%=dateFrom%>">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group form-focus">
                                <label class="focus-label">To</label>
                                <div class="cal-icon">
                                    <input class="form-control floating datetimepicker" name="DateTo" type="text"  value="<%=dateTo%>">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="form-group form-focus select-focus">
                                <label class="focus-label">Statut</label>
                                <select class="select floating" name="Statut">
                                    <option value="All">Tous</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <button class="btn btn-success btn-block"> Recherher </button>
                        </div>
                    </form>
                    
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table datatable mb-0">
                                <thead>
                                    <tr>
                                        <th>Statut</th>
                                        <th>Demandeur</th>
                                        <th>Date transaction</th>
                                        <th>Numéro Lot</th>
                                        <th>Matériau</th>
                                        <th>Quantité</th>
                                        <th>Transaction</th>
                                        <th>Commentaire</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% data.forEach((stock) => {
                                        let fa = "";
                                        let color = "color : red;";
                                        let title = "";
                                        if(stock.transaction == "add"){
                                            fa = "fa fa-arrow-up";
                                            title = "Augmentation de stock";
                                            color = "color : green;";
                                        }else if(stock.transaction == "substract"){
                                            fa = "fa fa-arrow-down";
                                            title = "Diminution de stock";
                                        }else{
                                            fa = "fa fa-arrow-down ";
                                            title = "Stock endommagé";
                                        }
                                        let active_desact = "Approuver";
                                        let action = 0;
										if(stock.approved == 0){
                                            active_desact = "Supprimer";
                                            action = 1;
										}
                                    %>
                                    <tr id="row<%= stock.request_id %>">
                                        <td>
                                        
                                            <% if(stock.approved == 0){ %>
                                                <% if(UserData.user_menu_access.includes("Approuver requete relative au stock") || UserData.user_menu_access[0]=="All"){%>
                                                    <a class="btn btn-info" href="#" 
                                                    onclick="setId('<%= stock.request_id %>','<%=stock.materiau%>','<%=stock.nom_materiau%>','<%=stock.lot%>','<%=stock.qte%>','<%=stock.transaction%>')" > 
                                                    Accepter/Rejeter
                                                    </a>
                                                <% }else{ %>
                                                    En attente...
                                                <% } %>
                                            <% }else{ %>
                                                <strong> Approuvé par <%=stock.approved_by %></strong>
                                            <% } %>
                                        </td>
                                         <td><%=stock.acteur%></td>
                                        <td><%=stock.date_record%></td>
                                        <td><strong><%=stock.lot%></strong></td>
                                        <td><%=stock.nom_materiau%></td>
                                        <td><%=stock.qte%></td>
                                        <td ><i class="<%= fa%>" title="<%= title%>"></i></td>
                                        <td><%=stock.commentaire%></td>
                                        
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div id="delete_patient" class="modal fade delete-modal" role="dialog" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <img src="assets/img/sent.png" alt="" width="50" height="46">
                    <form id="deleteForm">
                        <input type="hidden" name="requestId" id="requestId">
                        <input type="hidden" name="lot" id="lot">
                        <input type="hidden" name="materiauId" id="materiauId">
                        <input type="hidden" name="materiauName" id="materiauName">
                        <input type="hidden" name="type" id="type">
                        <input type="hidden" name="qte" id="qte">
                        <input type="hidden" name="action" id="action">
                    </form>
                    <h3 id="userDesactTitle"></h3>
                    <div id="msg"></div>
                    <div class="m-t-20"> 
                        <button type="submit" title="Accepter la demande" class="btn btn-success" onclick="accepterRejeter('1')">Oui</button>
                        <button type="submit" title="Rejeter la demande" class="btn btn-danger" onclick="accepterRejeter('0')">Non</button>
                        <a href="#" class="btn btn-white" data-dismiss="modal">Fermer</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.dataTables.min.js"></script>
    <script src="assets/js/dataTables.bootstrap4.min.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="assets/js/app.js"></script>
    <!-- FOOTER -->
    <%- include("../parts/footer") -%>
    <script>
   		function setId(value,matId,mat,lot,qte,type){
			$("#msg").show().html("");
			let title = "Voulez-vous accepter cette demande ?";
			$("#userDesactTitle").html(title);
            $("#requestId").val(value);
            $("#materiauId").val(matId);
            $("#materiauName").val(mat);
            $("#lot").val(lot);
            $("#type").val(type);
            $("#qte").val(qte);
			$("#delete_patient").modal();
		}
		
		accepterRejeter = function(action){
            $("#action").val(action);
             $("#msg").show().html("");
			 let patientID = $("#requestId").val();
              let   formData = $("#deleteForm").serialize();
                $.post("/approved-rejected" ,formData, function(data){
                      if(data.success){ //Success 
                        $("#msg").html(data.msg)
                        $("#delete_patient").modal("hide");
						//remove line
                        $("#row"+patientID).fadeOut( 5000 );
                        //NOTIFY THE CHANGE
                        socket.emit('updateNbRequestsStock', 'New Request!');
                      }else{
                        $("#msg").html(data.msg);
                      } 
                });
		}
    </script>
    
</body>


<!-- invoices23:25-->

</html>