<div class="row-header">
    <div class="logo">
        <img style="margin-left: 10px;" src="data:image/jpeg;base64,<%=LOGO%>" alt="img" width="250" height="250">
    </div>
    <div class="header-form">
        <p>
            <strong class="line-header"> <%=line1%> </strong><br>
            <strong class="line-header"><%=line2%></strong>
            <br>
            <% if(line3 !=""){ %>
             <%=line3%><br>
            <% } %>
            <% if(line4 !=""){ %>
                <%=line4%><br>
            <% } %>
            <% if(line5 !=""){ %>
                <%=line5%><br>
            <% } %>
            <% if(line6 !=""){ %>
                <%=line6%><br><br>
            <% } %>
        </p>
    </div>
</div>
<hr style="width: 80%; margin-top: -30px;" >