<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <style>

    </style>
</head>

<body>
    
    <div class="row">
        <div class="logo">
            <img style="margin-left: 10px;;" src="data:image/jpeg;base64,<%=LOGO%>" alt="img" width="100" height="100">
        </div>
        <div class="header-form">
            <p>
                <h3>Polyclinique – Pharmacie – Laboratoire Médicale </h3>
                <h3>Ultrasonographie pelvienne - Électrocardiogramme</h3>
                Delmas 33 Prolongé # 24 B<br>
                Delmas ht 6120<br>
                Tél :(509) 28 17 1550 / (509) 38 17 8518 <br>
                Email : centremedicalcliniplus@gmail.com <br><br>
                <h3>Résultat Test Laboratoire</h3>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <ul class="list-unstyled mb-0">
                <li> <strong> Patient : </strong> <%=patient%></li>
                <li> <strong> Date Prélèvement : </strong> <%=date%></li>
                <li> <strong> Date Résultat : </strong> <%=date%></li>
            </ul>

        </div>

    </div>

    <div class="row">
        <% data.forEach((info) => { %>
        <div class="col-sm-6">
            <div>
                <h4><strong><%=info.TestName%></strong></h4>
                <table class="table table-bordered">
                    <tbody>
                        <% 
                                                let pos = 0;
                                                info.Parameters.forEach((testParameters) => { 
                                                %>
                        <tr>
                            <td class="exam">
                                <strong><%=testParameters.nom_examen%></strong>
                            </td>
                            <td class="exam">
                                <span class="float-right"><%=info.Resultats[pos].resultat%></span>
                            </td>
                        </tr>
                        <% pos++; }) %>

                    </tbody>
                </table>
            </div>
        </div>
        <% }) %>
        <!-- <div class="col-sm-12">
                                    <p><strong>Net Salary: $59698</strong> (Fifty nine thousand six hundred and ninety
                                        eight only.)</p>
                                </div> -->
    </div>
</body>

</html>