<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <style>

    </style>
</head>

<body>
    
    <div class="row-header">
        <div class="logo">
            <img style="margin-left: 10px;" src="data:image/jpeg;base64,<%=LOGO%>" alt="img" width="150" height="150">
        </div>
        <div class="header-form">
            <p>
                <h3> <%=line1%> </h3>
                <h3><%=line2%></h3>
                <% if(line3 !=""){ %>
                 <%=line3%><br>
                <% } %>
                <% if(line4 !=""){ %>
                    <%=line4%><br>
                <% } %>
                <% if(line5 !=""){ %>
                    <%=line5%><br>
                <% } %>
                <% if(line6 !=""){ %>
                    <%=line6%><br><br>
                <% } %>
            </p>
        </div>
        <hr style="width: 80%;">
    </div>
    <div class="row-header">
        <div class="title">Laboratoire Médical</div>
    </div>
    <div class="row-header">
        <div class="col-sm-3">
            <ul class="list-unstyled mb-0">
                <li> <strong> Numéro : </strong> <%=testNumber%></li>
                <li> <strong> Prénom et Nom : </strong> <%=patient%></li>
                <li> <strong> Docteur / Institution : </strong> <%=docteur%></li>
            </ul>

        </div>

        <div class="col-sm-3">
            <ul class="list-unstyled mb-0">
                <li> <strong> Date Résultat : </strong> <%=date%></li>
                <li> <strong> Numéro Patient : </strong> <%=patientNumber%></li>
                <li> <strong> Sexe : </strong> <%=patientSexe%></li>
            </ul>

        </div>

    </div>

    
<% data.forEach((info) => { %>
<div class="row">    
        <div class="col-sm-6">
                <h4><%=info.TestName %></h4>
                <table class="table">
                    <tbody>
                        <% if(info.TestTypeResult==1){ %>
                            <tr class="exam">
                                <td></td>
                                <td>Résultat</td>
                                <td>Valeurs Normales</td>
                            </tr>
                        <% } %>
                        <% 
                        let pos = 0;
                        info.Parameters.forEach((testParameters) => { 
                        %>
                        <tr>
                            <td class="exam">
                               <%=testParameters.nom_examen%>
                            </td>
                            <td class="resultat">
                                <span class="float-right"><%=info.Resultats[pos].resultat%></span>
                            </td>
                            <% if(info.TestTypeResult==1){ %>
                                <td class="resultat">
                                    <span class="float-right"><%=info.VN[pos].vn%></span>
                                </td>
                            <% } %>
                        </tr>
                        <% pos++; }) %>

                    </tbody>
                </table>
    </div>
</div>
        <% }) %>
   
        <div class="signature">
            <div class="realisateur"><%=signature.realiser_par%></div>
            <div class="hr"><hr></div>
            <div class="poste"><%=signature.poste%></div>
        </div>
</body>

</html>